
/*
DEFAULT STYLES FOR THIS THEME
*/

/*
NOTE TO SELVES ---------------------------------------------------------------
Also add constants to application/settings/constants.xml
END NOTE ---------------------------------------------------------------------
*/


sitepwa_fonts_body_font_family: Roboto, sans-serif;
sitepwa_fonts_body_font_size: 13px;
sitepwa_fonts_heading_font_family: Roboto, sans-serif;
sitepwa_fonts_heading_fontsize: 15px;
sitepwa_fonts_mainmenu_font_family: Roboto, sans-serif;
sitepwa_fonts_mainmenu_font_size: 14px;
sitepwa_fonts_tab_font_family: Roboto, sans-serif;
sitepwa_fonts_tab_font_size: 13px;
sitepwa_layout_theme_width: 100%;
sitepwa_layout_left_column_width: 100%;
sitepwa_layout_right_column_width: 100%;


/*
PAGE WIDTHS & BACKGROUND COLOR
Specify the top bar wrapper width (which contains the mini menu, logo, and main menu
by default), the footer width, and the width of left & right-side columns.
*/
theme_topbar_width: $sitepwa_layout_theme_width;
theme_topbar_minimenu_width: auto;
theme_topbar_logo_width: auto;
theme_topbar_menu_width:$sitepwa_layout_theme_width;
theme_footer_width: $sitepwa_layout_theme_width;
theme_content_width: $sitepwa_layout_theme_width;
theme_content_columns_left_width: $sitepwa_layout_left_column_width
theme_content_columns_right_width: $sitepwa_layout_right_column_width;
/*
HEADER AND FOOTER COLORS
These values are only used to style the site-wide header and footer.
*/
theme_topbar_menu_background_color_hover: transparent;

theme_topbar_menu_link_decoration: none;

theme_topbar_menu_link_hover_decoration: none;
theme_topbar_menu_link_size: 1em;
theme_topbar_menu_link_background_color: transparent;
theme_topbar_menu_border: none;
theme_topbar_minimenu_border: none;
theme_topbar_minimenu_link_size: 100%;
theme_topbar_minimenu_link_hover_decoration: none;
theme_topbar_minimenu_link_hover_background_color: transparent;
theme_topbar_border: 0px solid transparent;

theme_topbar_menu_link_color: $sitepwa_header_main_menu_link_color;
theme_topbar_menu_link_hover_color: $sitepwa_header_main_menu_link_color_on_hover;
theme_topbar_minimenu_link_color: $sitepwa_header_mini_menu_items_color;
theme_topbar_minimenu_link_hover_color: $sitepwa_header_mini_menu_items_color_on_hover;
theme_topbar_menu_background_color_hover: $sitepwa_header_main_menu_background_color;
theme_topbar_menu_background_color: $sitepwa_header_main_menu_background_color;
theme_topbar_background_color: $sitepwa_header_main_menu_background_color;
theme_body_background_color: $sitepwa_body_body_background_color;


/*
TEXT & LINKS
These values affect the size and colors of your text and links throughout your layout.
*/
theme_font_family: $sitepwa_fonts_body_font_family;
theme_font_size: $sitepwa_fonts_body_font_size;
theme_text_align: left;
theme_link_decoration: none;
theme_link_decoration_hover: none;
theme_link_color:$sitepwa_body_link_color;
theme_link_color_hover:$sitepwa_body_link_color_on_hover;
theme_font_color:$sitepwa_body_font_color;
theme_font_color_light:$sitepwa_body_font_color_light;
theme_headline_color:$sitepwa_body_header_color;
theme_headline_size_large: 16px;
theme_headline_size_medium: 15px;
theme_footer_background_color:$sitepwa_footer_footer_background_color;
theme_bottom_footer_link_color: $sitepwa_footer_bottom_footer_link_color;
theme_bottom_footer_link_color_hover: $sitepwa_footer_bottom_footer_link_color_on_hover;
theme_menu_tip_color:$sitepwa_theme_menu_tip_color;
/*


/* 
BORDER COLORS
These colors are mostly applied to borders that separate items in lists of content.
*/
theme_border_color: $sitepwa_body_border_color;
theme_border_medium_color: $sitepwa_body_border_medium_color;
theme_border_dark_color: $sitepwa_body_border_dark_color;

/*

WIDGET BOX BORDER COLORS
These colors are applied to borders around or within boxes that have a background color,
like widgets.
*/
theme_foreground_border_color: transparent;
theme_foreground_border_color_light: transparent;
theme_foreground_background_color: $sitepwa_body_content_background_color;

/*
PHOTO BORDERS
These colors are applied to the borders drawn around most images and thumbnails.
*/
theme_photo_border_color: #e4e4e4;
theme_photo_border_color_hover: #e4e4e4;

/*

INPUT FIELDS AND BUTTONS
These values style input fields and buttons that appear throughout the layout.
*/
theme_input_background_color: $sitepwa_body_input_background_color;
theme_input_font_color: $sitepwa_body_input_font_color;
theme_input_border_colors: $sitepwa_body_input_border_color;
theme_button_background_color: $sitepwa_body_button_background_color;
theme_button_background_color_hover: $sitepwa_body_button_background_color_on_hover;
theme_button_background_color_active: $sitepwa_body_button_background_color_on_active;
theme_button_font_color: $sitepwa_body_button_font_color;
theme_button_border_color: $sitepwa_body_button_border_color;
/*
FORMS
These colors are applied to most forms throughout the layout.
*/
theme_form_border_color: $sitepwa_body_border_color;
theme_form_background_color: $sitepwa_body_content_background_color;
theme_form_label_font_color: $sitepwa_body_form_label_font_color;

/*
TABS (BUTTON-STYLE)
These colors are applied to the button-style tab menus which are often shown
on browse pages.
*/
theme_buttontabs_font_size:13px;
theme_buttontabs_font_color: $sitepwa_body_tabs_font_color;
theme_buttontabs_font_color_hover: $sitepwa_body_tabs_font_color_on_hover;
theme_buttontabs_font_color_active: $sitepwa_body_tabs_font_color_on_active;
theme_buttontabs_background_color: transparent;
theme_buttontabs_background_color_hover: transparent;
theme_buttontabs_background_color_active: transparent;


/*
TABS
These colors are applied to tab menus (as seen on several pages, including
the member profile page).
*/
theme_tabs_background_color: transparent;
theme_tabs_border_color: $sitepwa_body_border_color;
theme_tabs_border_color_hover: $sitepwa_body_tabs_border_color_on_hover;
theme_tabs_font_color: $sitepwa_body_tabs_font_color;
theme_tabs_font_color_active: $sitepwa_body_tabs_font_color_on_active;
theme_tabs_font_color_hover:$sitepwa_body_tabs_font_color_on_hover;
theme_tabs_background_color_active:transparent;
theme_tabs_background_color_hover: transparent;

/*
LISTS
These colors are applied to some lists, especially in pull-down menus.
*/
theme_list_background_color: $sitepwa_body_list_background_color;
theme_list_background_color_alt: $sitepwa_body_list_background_color_alt;
theme_list_background_color_hover: $sitepwa_body_list_background_color_on_hover;

/*
TAGS
These colors are applied to tags, which appear on blogs, messages, etc.
*/
theme_tag_background_color: $sitepwa_body_tag_background_color;

/*
INLINE PULLDOWN MENUS
These colors style the inline pulldown menus that appear throughout the layout.
*/
theme_pulldown_background_color: $sitepwa_body_pulldown_background_color;
theme_pulldown_background_color_hover: $sitepwa_body_pulldown_background_color_on_hover;
theme_pulldown_background_color_active:$sitepwa_body_pulldown_background_color_on_active;
theme_pulldown_font_color_active: $sitepwa_theme_primary_color;
theme_pulldown_border_color: $sitepwa_body_pulldown_border_color;
theme_pulldown_contents_background_color: $sitepwa_body_pulldown_background_color;
theme_pulldown_contents_list_background_color_hover: $sitepwa_body_pulldown_background_color_on_hover;
theme_pulldown_contents_list_background_color_active: $sitepwa_body_pulldown_background_color_on_active;

theme_signin_color: $sitepwa_theme_signin_color;
theme_signin_color_hover: $sitepwa_theme_signin_color_hover;

/*
GRID VIEW LAYOUT
These values set the width and height of grid layout.
*/
theme_grid_width: 220px;
theme_grid_height: 290px;
