.sitepwa_loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
/*  background-image: url('~/application/modules/Sitepwa/externals/images/loading.gif');*/
  width: auto;
  height: auto;
  display: block;
/*  background-position: center center;
  background-repeat: no-repeat;*/
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
box-shadow: 0 0 10px rgba(135, 135, 135, 0.5);
-moz-box-shadow: 0 0 10px rgba(135, 135, 135, 0.5);
-webkit-box-shadow: 0 0 10px rgba(135, 135, 135, 0.5);
-o-box-shadow: 0 0 10px rgba(135,135,135,0.5);
}
.sitepwa_loader:before {
  display: block;
  content: '';
  border: 10px solid #f3f3f3; /* Light grey */
  border-top-color: $theme_button_background_color;
  border-right-color: $theme_foreground_background_color;
  border-bottom-color: $theme_button_background_color;
  border-left-color: $theme_foreground_background_color;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-animation: sitepwa_loader_spin 2s infinite linear;
  animation: sitepwa_loader_spin 2s infinite linear;
}

.generic_sitepwa_layout_container .layout_sitepwa_menu_logo {
  max-width: 110px;
  float: left;
  margin: 0px 10px 0px 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.layout_sitepwa_header .sitepwa_logo, .layout_sitepwa_header .sitepwa_minimenu  {
  display: inline-block;
  vertical-align: middle;
}
.layout_sitepwa_header .sitepwa_logo {
  float: none !important;
  max-width: none !important;
  width: auto !important;
}
.layout_sitepwa_header .sitepwa_minimenu {
  float: right;
  line-height: 0.8 !important;
}
[dir="rtl"] .layout_sitepwa_header .sitepwa_minimenu {
  float: left;	
}
/*.layout_sitepwa_header .sitepwa_minimenu a {
  margin: 8px 0px 0;
}*/

.layout_sitepwa_header .sitepwa_minimenu > a {
  display: inline-block;
  vertical-align: top;
  padding: 8px 0px;
}

.layout_sitepwa_header .sitepwa_minimenu .sitepwa_header_minimenu_search {
  color: $theme_topbar_minimenu_link_color;
  font-size: 14px;
}
.layout_sitepwa_header .sitepwa_minimenu .sitepwa_header_minimenu_search > i {
   vertical-align: middle;
}
.layout_sitepwa_header .sitepwa_minimenu .sitepwa_header_minimenu_search:hover {
  color: $sitepwa_minimenu_link_color_hover;
}
.layout_sitepwa_header .sitepwa_search .layout_siteadvsearch_search_box #global_search_form_container {
  float:none !important;
}
.sitepwa_main_menu_body_backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}
.global_sitepwa_left_panel.panel-open .sitepwa_main_menu_body_backdrop{
  display: block;
}
#global_header .layout_siteadvsearch_search_box input[type="text"] {
  width: 100% !important;
}
.layout_sitepwa_header .layout_siteadvsearch_search_wrapper #siteadv_menu_mini_menu form#global_search_form  {
  width: 100%;
  margin-right: 0px;
}
.layout_sitepwa_header .layout_siteadvsearch_search_wrapper #siteadv_menu_mini_menu form#global_search_form input.checkin-loading + ul + #search_button_advmenu_mini_menu {
  display: none;	
}
.layout_sitepwa_header .layout_siteadvsearch_search_wrapper #siteadv_menu_mini_menu #global_search_form_container,  .layout_sitepwa_header .layout_sitepwa_search_box  #global_search_form_container {
  width: 100%;
  position: relative;
  display: block;
}
.layout_sitepwa_header .sitepwa_search {
  margin-top: 10px;
  display: inline-block;
  /*float: right;*/
  /*width: 90%;*/
  position: relative;
}
.layout_sitepwa_header .layout_siteadvsearch_search_box [id*="main-search-loading_"] {
  position: absolute;
  left: 5px;
  margin: 0px;
  top: 1px;
}
.layout_sitepwa_header .layout_sitepwa_search_box [id*="main-search-loading_"] {
  position: absolute;
  margin: 0px;
  left: 5px;
  top: 0px;
  right: auto;
}
.layout_sitepwa_header .layout_sitepwa_search_box [id*="main-search-loading_"] > img {
  width: 17px;
}
.layout_sitepwa_header .sitepwa_minimenu a + div {
  display: inline-block;
}
.layout_sitepwa_header .sitepwa_search a + div {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
  /*  position: absolute;
    right: 0;*/
}
[dir="rtl"] .layout_sitepwa_header .sitepwa_search a + div {
  padding-right: 10px;
  padding-left: 0px;
}
.layout_sitepwa_header .sitepwa_search a {
  margin-left:10px;
  width: 28px;
  height: 28px;
  /*  border: 1px solid;*/
  padding: 0px 5px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  z-index: 1;
  text-align: center;
  line-height: 28px;
}
[dir="rtl"] .layout_sitepwa_header .sitepwa_search a {
	left: 0;
	margin-left: 0px;
	margin-right: 10px;
}
.layout_sitepwa_header .sitepwa_search .layout_sitepwa_search_box {
  padding: 0 !important;
  margin: 0;
  width: 100%;
}
.layout_sitepwa_header .sitepwa_search .layout_sitepwa_search_box input[type='text'] {
  padding-left: 32px !important;
}
.layout_sitepwa_header .sitepwa_search {
  margin-top: 0;
  display: none;
}
.layout_sitepwa_header._show_search .sitepwa_search {
  display: inline-block;
}
.layout_sitepwa_header._show_search .sitepwa_search a i.fa-close {
  font-size: 16px;
  color: #bdbdbd;
}
.layout_sitepwa_header._show_search .sitepwa_minimenu,
.layout_sitepwa_header._show_search .sitepwa_logo{
  display: none;
}
.layout_sitepwa_header .layout_siteadvsearch_search_wrapper #siteadv_menu_mini_menu #global_search_form_container ul.adsearch-autosuggest, .layout_sitepwa_header .layout_sitepwa_search_box  #global_search_form_container ul.adsearch-autosuggest {
  width: 100% !important;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 32px;
  display: block !important;
}
.layout_sitepwa_header .layout_siteadvsearch_search_box #global_search_form button, .layout_sitepwa_header .layout_sitepwa_search_box #global_search_form button  {
  width: 25px;
}
.layout_sitepwa_header .layout_siteadvsearch_search_box {
  margin: 0px;
  width: 100%;
}
.layout_sitepwa_header .layout_siteadvsearch_search_box input[type="text"], .layout_sitepwa_header .layout_sitepwa_search_box input[type="text"] {
  padding: 4px !important;
}
.layout_sitepwa_header .sitepwa_search .layout_siteadvsearch_search_box input[type="text"], .layout_sitepwa_header .sitepwa_search  .layout_sitepwa_search_box input[type="text"] {
  position: relative;
  padding-left: 25px !important;
  box-sizing: border-box;	
}
[dir="rtl"] .layout_sitepwa_header .sitepwa_search .layout_siteadvsearch_search_box input[type="text"], [dir="rtl"]  .layout_sitepwa_header .sitepwa_search  .layout_sitepwa_search_box input[type="text"] {
	padding-right: 25px !important;
	padding-left: 4px;
}
.layout_sitepwa_header .sitepwa_search .layout_siteadvsearch_search_box #global_search_form button, .layout_sitepwa_header .sitepwa_search .layout_sitepwa_search_box #global_search_form button {
  padding: 0px !important;
  position: absolute;
  left: 0px !important;
  background-position: center;
  margin: 0px;
  background-color: transparent;
  padding: 0px !important;
}
/*.sitepwa_layout_container  .layout_sitepwa_header{
  margin: 10px;
}*/
.generic_sitepwa_layout_container .layout_sitepwa_header .layout_sitemenu_menu_mini {
  margin: 0;
}
.sitemenu-vertical-right-mainmenu .generic_sitepwa_layout_container .layout_sitemenu_vertical_header_toggle_button,
.sitemenu-vertical-left-mainmenu .generic_sitepwa_layout_container .layout_sitemenu_vertical_header_toggle_button {
  margin: 0 10px;
}

.sitepwa_layout_container.generic_sitepwa_layout_container  #core_mini_settings_updates_pulldown div.seaocore_pulldown_wrapper {
  top: 0px;
  margin-top: 40px;
}

/*
VERTICAL MENU
*/
.global_sitepwa_left_panel .layout_core_menu_logo
{
  padding-left: 0;
}
[dir="rtl"] .global_sitepwa_left_panel .layout_core_menu_logo
{
  padding-right: 0;
}
.global_sitepwa_left_panel .layout_core_menu_mini
{
  padding-right: 0;
}
[dir="rtl"] .global_sitepwa_left_panel .layout_core_menu_mini
{
  padding-left: 0;
}

.global_sitepwa_left_panel .menu_core_main_tip:after
{
  border-right-color: $theme_menu_tip_color;
}
[dir="rtl"] .global_sitepwa_left_panel .menu_core_main_tip:after
{
  border-left-color: $theme_menu_tip_color;
  border-right-color: transparent;
}
.global_sitepwa_left_panel.panel-open .layout_sitepwa_menu_main .navigation > li:hover
{
  background-color: transparent;
}
.global_sitepwa_left_panel.panel-open .layout_sitepwa_menu_main .navigation > li > a:hover
{
  color: $theme_link_color_hover;
  border-radius: 0px;
}

/*.global_sitepwa_left_panel .layout_sitepwa_menu_main ._pannel_close
{
  padding: 10px;
  cursor: pointer;
  background-color: $sitepwa_top_header_background_color;
  box-sizing: border-box;
  position: fixed;
  top: 13px;
  left: -100px;
  z-index: 3;
  height: 40px;
  border-radius: 0 20px 20px  0;
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.4);
}
[dir="rtl"] .global_sitepwa_left_panel .layout_sitepwa_menu_main ._pannel_close
{
  left: auto;
  right: -100px;
}
.global_sitepwa_left_panel .layout_sitepwa_menu_main ._pannel_close:before
{
  content: "\\f00d";
  font-family: fontawesome;
  color: $sitepwa_user_link_color;
  font-size: 16px;
}*/
.global_sitepwa_left_panel .sitepwa_main_menu ._pannel_close
{
  padding: 10px;
  cursor: pointer;
  background-color: $sitepwa_top_header_background_color;
  box-sizing: border-box;
  position: fixed;
  top: 13px;
  left: -100px;
  z-index: 3;
  height: 40px;
  border-radius: 0 20px 20px  0;
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.4);
}
[dir="rtl"] .global_sitepwa_left_panel .sitepwa_main_menu ._pannel_close
{
  left: auto;
  right: -100px;
}
.global_sitepwa_left_panel .sitepwa_main_menu ._pannel_close:before
{
  content: "\\f00d";
  font-family: fontawesome;
  color: $sitepwa_user_link_color;
  font-size: 16px;
}
body .layout_sitepwa_menu_main,
.global_sitepwa_left_panel.panel-collapsed .layout_page_header .layout_main > .layout_sitepwa_menu_main
{
  position: fixed;
  left: -270px;
  top: 0;
  bottom: 0;
  background-color: $theme_topbar_menu_background_color;
  background-image: none;
  box-sizing: border-box;
  width: 270px;
  border-radius: 0;
  padding: 0;
  margin: 0;
  overflow: auto;
  z-index: 99;
  transition: all .5s ease-in-out;
}
[dir="rtl"] body .layout_sitepwa_menu_main
{
  left: auto;
  right: -270px;
}
.global_sitepwa_left_panel.global_sitepwa_left_panel_slide {
  transition: all .5s ease-out;
}
.global_sitepwa_left_panel.panel-open.global_sitepwa_left_panel_overlay{
  padding-left:0;
}
.global_sitepwa_left_panel.panel-open .layout_sitepwa_menu_main {
  left: 0;
  transition: all .5s ease-out;
  box-shadow: 1px 15px 7px rgba(0, 0, 0, 0.25);
}
[dir="rtl"] .global_sitepwa_left_panel.panel-open .layout_sitepwa_menu_main {
  right: 0;
}
/*[dir="rtl"] body .layout_sitepwa_menu_main
{
  left: auto;
  right: 0;
}*/
.global_sitepwa_left_panel .layout_sitepwa_menu_main .main_menu_navigation
{
  width: 100%;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background-color: $theme_foreground_background_color;
  overflow: hidden;
}
.global_sitepwa_left_panel.sitepwa_logged_in_member .layout_sitepwa_menu_main .main_menu_navigation {
  margin-top: 65px;
}
.global_sitepwa_left_panel .layout_sitepwa_menu_main .navigation
{
  padding: 0;
  width: 100%;
  padding-bottom: 10px;
}
.layout_sitepwa_menu_main h4 {
  border-bottom:0px;
  margin-bottom: 0px;
  padding: 12px 15px;
  background-color: $sitepwa_topbar_menu_heading_background_color;
  font-size: 16px;
}
.global_sitepwa_left_panel .layout_sitepwa_menu_main li
{
  margin: 0;
}
.global_sitepwa_left_panel .layout_sitepwa_menu_main .navigation > li
{
  float: none;
  display: block;
  font-size: 14px;
  border-bottom: 1px solid $sitepwa_mainmenu_border_color_light;
  border-top: 1px solid $sitepwa_mainmenu_border_color_dark;
  border-left: 0;
  border-right: 0;
  margin: 0;
  background-image: none;
  padding: 0;
  border: none;
  font-weight: 600;
}
[dir="rtl"] .global_sitepwa_left_panel .layout_sitepwa_menu_main .navigation > li
{
  float: none;
}
.global_sitepwa_left_panel .layout_sitepwa_menu_main .navigation > li.active a
{
  color: $theme_link_color_hover;
}
.global_sitepwa_left_panel .layout_sitepwa_menu_main .navigation > li:hover
{
  background-color: rgba(0, 0, 0, 0.05);
}
body.global_sitepwa_left_panel .layout_sitepwa_menu_main .menu_core_main
{
  padding: 12px;
  display: block;
  line-height: normal;
  color: $theme_topbar_menu_link_color;
  box-sizing: border-box;
}
.global_sitepwa_left_panel .layout_sitepwa_menu_main .navigation > li > a:hover
{
  text-decoration: none;
}
.global_sitepwa_left_panel .layout_sitepwa_menu_main .menu_core_main i
{
  margin-right: 20px;
  font-size: 17px;
  font-weight: normal;
  opacity: .5;
  color: $theme_link_color;
  vertical-align: middle;
  width: 15px;
}
[dir="rtl"] .global_sitepwa_left_panel .layout_sitepwa_menu_main .menu_core_main i
{
  margin-left: 20px;
  margin-right: 0px;
}
.global_sitepwa_left_panel .layout_sitepwa_menu_main .menu_core_main i.background_icon {
    display: inline-block;
    line-height: 15px;
    height: 15px;
    width: 15px;
    background-repeat: no-repeat;
    background-size: contain;
}
.global_sitepwa_left_panel .layout_sitepwa_menu_main .navigation > li.active .menu_core_main i
{
  opacity: .5;
}
.global_sitepwa_left_panel .layout_sitepwa_menu_main .navigation > li.active i, .global_sitepwa_left_panel .layout_sitepwa_menu_main .navigation > li:hover i, .layout_sitepwa_menu_main .category_options > li > a:hover::before, .layout_sitepwa_menu_main .category_options > li.active > a:hover::before {
  opacity: 1 !important;
  color: $theme_link_color_hover !important;
}
.global_sitepwa_left_panel.panel-collapsed .layout_core_menu_mini > div > ul > li
{
  display: inline-block;
  /*position: relative;*/
}
.global_sitepwa_left_panel.panel-collapsed .layout_core_menu_mini > div > ul
{
  padding: 0;
}
.global_sitepwa_left_panel.panel-collapsed .layout_core_menu_mini #core_menu_mini_menu {
  text-align: right;
}
.global_sitepwa_left_panel #global_content, div.layout_page_header .layout_main, div#global_content {
  padding-left: 0px !important;
  padding-right: 0px !important; 
}
div#global_content {
  margin-top: 0px !important;
}
.global_sitepwa_left_panel.panel-collapsed .layout_page_header .layout_main{
  padding-top: 0;
}
.global_sitepwa_left_panel.panel-collapsed .layout_page_header .layout_main .layout_core_menu_logo, .global_sitepwa_left_panel.panel-collapsed .layout_page_header .layout_main .layout_core_menu_mini, .global_sitepwa_left_panel.panel-collapsed .layout_page_header .layout_main .layout_sitemenu_menu_mini {
  width: auto;
}
.global_sitepwa_left_panel.panel-collapsed .layout_core_menu_mini > div > ul > li, .global_sitepwa_left_panel.panel-collapsed .layout_sitemenu_menu_mini > div > ul > li {
  display: inline-table;
  margin-bottom: 0px;
  vertical-align: middle;
  /*line-height: 30px;*/
  padding: 2px;
}
.global_sitepwa_left_panel .layout_sitepwa_menu_main .menu_core_main span {
  width: 180px;
  white-space: normal;
  overflow: hidden;
/*  text-overflow: ellipsis;*/
  display: inline-block;
  vertical-align: middle;
}
.layout_sitepwa_menu_main ._settings_menus ul {
  padding: 0px;
  margin: 10px 0px;
}
.layout_sitepwa_menu_main ._settings_menus ul li {
  font-size: 14px;
  padding: 0px;
  font-weight: 600;
}
.layout_sitepwa_menu_main ._settings_menus ul li a {
  padding: 12px;
  display: block;
  box-sizing: border-box;
  line-height: normal;
}

/*===========Core vartical Menu Css  ============*/
/*.global_sitepwa_left_panel.panel-open .layout_sitepwa_menu_main ._pannel_close
{
  display: none;
}
.global_sitepwa_left_panel.panel-open .layout_sitepwa_menu_main ._pannel_close
{
  left: 270px;
  display: block;   
  transition: all 1s ease-out;
}
[dir="rtl"] .global_sitepwa_left_panel .layout_sitepwa_menu_main ._pannel_close
{
  right: 270px;
}*/
.global_sitepwa_left_panel.panel-open .sitepwa_main_menu ._pannel_close
{
  display: none;
}
.global_sitepwa_left_panel.panel-open .sitepwa_main_menu ._pannel_close
{
  left: 270px;
  display: block;   
  transition: all 1s ease-out;
}
[dir="rtl"] .global_sitepwa_left_panel.panel-open .sitepwa_main_menu ._pannel_close
{
  right: 270px;
  border-radius: 20px 0px 0px 20px;
	left: auto;
}
.global_sitepwa_left_panel.panel-collapsed
{
  padding-left: 0;
}
[dir="rtl"] .global_sitepwa_left_panel.panel-collapsed
{
  padding-right: 0;
}
.global_sitepwa_left_panel .layout_page_header .layout_main .header-panel-toggle {
  color: $theme_topbar_minimenu_link_color;
  /*padding: 3px;*/
  /*border: 1px solid $theme_topbar_minimenu_link_color;*/
  /* color: $theme_topbar_menu_background_color;*/
  cursor: pointer;
  height: 20px;
  width: 18px;
  text-align:right;
  transition: all .5s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  /* border-radius: 3px;*/
  line-height: normal;
  position: relative;
  margin-top: 5px;
}
[dir="rtl"] .global_sitepwa_left_panel .layout_page_header .layout_main .header-panel-toggle
{
  float: right;
  text-align: left;
}
.global_sitepwa_left_panel .layout_page_header .layout_main .header-panel-toggle:before
{
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  height: 3px;
  border-top: 7px double $theme_topbar_minimenu_link_color;
  border-bottom: 2px solid $theme_topbar_minimenu_link_color;
}
.layout_page_header .layout_main .header-panel-toggle,
.global_sitepwa_left_panel .layout_page_header .layout_core_search_mini,
.global_sitepwa_left_panel .layout_page_header .layout_core_menu_mini
{
  display: block;
}
.global_sitepwa_left_panel.panel-collapsed .layout_page_header .layout_main .layout_sitepwa_header, .sitepwa_layout_container  .layout_sitepwa_header {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
  clear: both;
  min-height: 45px;
}
.global_sitepwa_left_panel.panel-open .layout_page_header .layout_main .layout_sitepwa_header {
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
}
.global_sitepwa_left_panel.panel-collapsed .layout_page_header .layout_main > .layout_core_menu_logo img
{
  max-width: 100%;
}.global_sitepwa_left_panel.panel-collapsed .layout_page_header .layout_main .header-panel-toggle
.global_sitepwa_left_panel.panel-collapsed .layout_page_header .layout_main .header-panel-toggle + div,
.global_sitepwa_left_panel.panel-collapsed .layout_page_header .layout_main .header-panel-toggle + a
{
  float: left;
  max-width: 88%;
  width: 88%;
}

.layout_sitepwa_menu_main .main_menu_navigation .scrollbar.horizontal {
  display: none;
}

.layout_page_header .layout_main .header-panel-toggle {
  display: none;
}
.layout_sitepwa_menu_main .main_menu_navigation.horizontal_core_main_menu .scrollbar-content {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
}
.layout_sitepwa_menu_main .main_menu_navigation.horizontal_core_main_menu .scrollbar-content-wrapper {
  margin: 0 !important;
  padding: 0 !important;
}

.layout_sitepwa_menu_main .main_menu_navigation_fixed {
  box-sizing: border-box;
  border-bottom: 1px solid $theme_border_color;
  margin-bottom: 5px;
  transition: left .5s ease-in-out;
  position: fixed;
  width: 270px;
  left: -270px;
  z-index: 11;
  background-color: $sitepwa_top_header_background_color;
  opacity: 0;
}
.global_sitepwa_left_panel.panel-open .layout_sitepwa_menu_main .main_menu_navigation_fixed {
  left: 0;
  opacity: 1;
}
[dir="rtl"] .global_sitepwa_left_panel.panel-open .layout_sitepwa_menu_main .main_menu_navigation_fixed {
	right: 0;
	left: auto;
}
.global_sitepwa_left_panel .layout_sitepwa_menu_main .main_menu_navigation_fixed  ._cover_wapper{
  background: url('~/application/modules/Sitepwa/externals/images/bg.png') center center no-repeat;
  background-size: cover;
  height: 150px;
  padding: 15px;
  box-sizing: border-box;
  width: 270px;
  position: relative;
}
.global_sitepwa_left_panel .layout_sitepwa_menu_main .main_menu_navigation_fixed ._cover_wapper::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  content: '';
}
.global_sitepwa_left_panel .layout_sitepwa_menu_main .main_menu_navigation_fixed  ._cover_wapper ._logo_banner img {
  max-width: 190px;
}
.global_sitepwa_left_panel.panel-open .layout_sitepwa_menu_main .main_menu_navigation_fixed  ._cover_wapper > div {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  display: block;
}
.global_sitepwa_left_panel.panel-open .layout_sitepwa_menu_main .main_menu_navigation_fixed ._cover_wapper > div._login_buttons {
  bottom: 30px;
}
.global_sitepwa_left_panel.panel-open .layout_sitepwa_menu_main .main_menu_navigation_fixed ._cover_wapper > div._login_buttons a {
  padding: 8px 16px;
}
.global_sitepwa_left_panel.panel-open .layout_sitepwa_menu_main .main_menu_navigation_fixed ._logo_banner {

}
.global_sitepwa_left_panel.panel-open .layout_sitepwa_menu_main .main_menu_navigation_fixed ._logo_banner .sitepwa_logo_title {
  text-align: center;
  font-size: 26px;
  color: #ffffff;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  width: 75%;
  margin: auto;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5)
}
.global_sitepwa_left_panel .layout_sitepwa_menu_main .main_menu_navigation {
  margin-top: 150px;
}
.sitepwa_logged_in_member.panel-open .layout_sitepwa_menu_main .main_menu_navigation_fixed {
}
.layout_sitepwa_menu_main .main_menu-links-user a .user{
  text-transform: capitalize;
  margin-left: 5px;
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
}
.sitepwa_logged_in_member.panel-open .layout_sitepwa_menu_main .main_menu-links-user::before {
  content: '';
  background-color: rgba(0,0,0,0.5);
}
.layout_sitepwa_menu_main .main_menu-links-user a {
  color: $sitepwa_user_link_color;
  padding: 15px 10px;
  display: block;
  font-size: 16px;
}
.layout_sitepwa_menu_main .main_menu-links-user .image{ 
  width: 35px;
  display: inline-block;
  height: 35px;
} 
.layout_sitepwa_menu_main .main_menu-links-user .image img.thumb_icon {
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: 50%;
  border: 2px solid #f2f2f2;
}

.layout_sitepwa_menu_main .main_menu-links-user a:hover
{
  background-color: $sitepwa_top_header_background_color;
  border-radius: 0px;
}
/*.layout_sitepwa_menu_main .footer_menus{
  border-top: 1px solid $theme_border_color;
  padding-top: 10px;
}*/
.layout_sitepwa_menu_main .layout_sitepwa_menu_footer ul > li {


}
.layout_sitepwa_menu_main .layout_sitepwa_menu_footer ul > li > a {
  padding: 10px;
  display: block;
  line-height: normal;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 600;
}
.layout_sitepwa_menu_main .layout_sitepwa_menu_footer .language_form,
.layout_sitepwa_menu_main .layout_sitepwa_menu_footer .copyright{
  text-align: left;
  padding: 10px;
  display: block;
  color: $theme_topbar_menu_link_color;
  margin: 15px 0px;
}

.layout_sitepwa_menu_main .layout_sitepwa_menu_footer .language_form > select {
  width: 100%;
  padding: 8px 5px;
  box-sizing: border-box;
  max-width: 100%;
}
.layout_sitepwa_menu_main .layout_sitepwa_menu_footer a:link, .layout_sitepwa_menu_main .layout_sitepwa_menu_footer a:visited, .layout_core_menu_main .layout_sitepwa_menu_footer a:link, .layout_core_menu_main .layout_sitepwa_menu_footer a:visited {
  color: $theme_link_color;
  text-decoration: $theme_link_decoration;
  font-size: 14px;
  font-weight: normal;
}
/*.layout_sitepwa_menu_main .layout_sitepwa_menu_footer a:link, .layout_sitepwa_menu_main .layout_sitepwa_menu_footer a:visited, .layout_sitepwa_menu_main .layout_sitepwa_menu_footer .copyright {
  font-size: 12px;
}*/
.layout_sitepwa_menu_main .layout_sitepwa_menu_footer li, .layout_sitepwa_menu_main .layout_sitepwa_menu_footer li, .layout_core_menu_main .layout_sitepwa_menu_footer li, .layout_core_menu_main .layout_sitepwa_menu_footer li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.layout_sitepwa_menu_main .footer_menus ._footer_bottom {
  border-top: 1px solid $theme_border_color;
  margin-top: 15px;
}
.layout_sitepwa_menu_footer ._menu_social_sites {
  border-top: 1px solid $theme_border_color;
  text-align: center;
}
.layout_sitepwa_menu_footer ._menu_social_sites .navigation {
  padding: 0;
  overflow: hidden;
}
.layout_sitepwa_menu_footer ._menu_social_sites .navigation li{
  display: inline-block;
  border: 1px solid $theme_border_color;
  border-radius: 50%;
  margin: 2px;
  width: 40px;
  height: 40px;
}
.layout_sitepwa_menu_main .footer_menus ._menu_social_sites + ._footer_bottom {
  margin-top: 0px;
}
.layout_sitepwa_menu_main .footer_menus ._footer_bottom > div {
  text-align: center;
}
.layout_sitepwa_menu_main .footer_menus ._footer_bottom > ._signout {
  margin: 10px 10px 25px 10px;
}
.layout_sitepwa_menu_main .footer_menus ._footer_bottom > ._signout a{
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px;
  color: $theme_button_font_color;
}
.layout_sitepwa_menu_main .layout_sitepwa_menu_footer .copyright {
  border-top: 1px solid $theme_border_color;
  padding-top: 18px;
  font-weight: 600;
}
/*.layout_sitepwa_menu_main .layout_sitepwa_menu_footer a:hover, .layout_sitepwa_menu_main .layout_sitepwa_menu_footer a:hover, .layout_core_menu_main .layout_sitepwa_menu_footer a:hover, .layout_core_menu_main .layout_sitepwa_menu_footer a:hover {
  opacity: 1;
}*/
.layout_core_menu_main .layout_sitepwa_menu_footer li:hover, .layout_core_menu_main .layout_sitepwa_menu_footer li:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: $theme_topbar_menu_link_color;
  border-radius: 0px;
}
.layout_sitepwa_menu_main .layout_sitepwa_menu_footer li:hover a, .layout_sitepwa_menu_main .layout_sitepwa_menu_footer li.active a {
  color: $theme_link_color_hover;
}
.layout_sitepwa_menu_main .layout_sitepwa_menu_footer ul {
  background-color: transparent;
  border-radius: 0px;
  padding: 0px;
  margin: 10px 0px;
}
.layout_sitepwa_menu_main .layout_sitepwa_menu_footer ul li {
  padding: 0px;
  border-bottom:none;
}
.layout_sitepwa_menu_main .layout_sitepwa_menu_footer ul li a {
  font-weight: 600 !important;
  font-size: 14px;
}
.layout_sitepwa_menu_main .category_options > li > a::before {
  margin-right: 20px;
  opacity: .5;
}
.layout_sitepwa_menu_main .category_options > li > a:hover::before {
  color: $theme_link_color;
}
/*====SitePWA banner login widget CSS=====*/

.layout_sitepwa_sitelogo_banner {
  margin-top: 5px;
}
.layout_sitepwa_sitelogo_banner + .generic_sitepwa_layout_container {
  margin-top: 0px !important;
}
.sitepwa_layout_widget.layout_sitepwa_sitelogo_banner {
  /*	height: 100px;*/
  margin-bottom: 0px;
  padding: 0px !important;
  position: relative;
}
.sitepwa_layout_widget.layout_sitepwa_sitelogo_banner ._banner{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px 25px;
}
.layout_sitepwa_sitelogo_banner ._banner{
  background-image: url('~/application/modules/Sitepwa/externals/images/login.jpg');
}
.layout_sitepwa_sitelogo_banner ._banner::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(102, 102, 102, 0.5);
}
.layout_sitepwa_sitelogo_banner .sitepwa_logo_banner {
  text-align: center;
  position: relative;
}
.layout_sitepwa_sitelogo_banner .sitepwa_logo_banner .sitepwa_sitebanner_logo {
  display: block;
  color: #fff;
  font-size: 22px;
  z-index: 1;
  /*	position: absolute;*/
  z-index: 9;
  /*	top: 50%;*/
  /*	transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    bottom: auto;
    left: 0;
    right: 0;*/
  text-align: center;
}
.layout_sitepwa_sitelogo_banner .sitepwa_sitebanner_logo_img {
  /* background: url(~/application/modules/Sitepwa/externals/images/login.jpg) center center no-repeat;*/
  background-size: contain;
  margin: auto;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.layout_sitepwa_sitelogo_banner .sitepwa_sitebanner_logo_img > a ._logo_title {
  font-size: 30px;
  color: #ffffff;
}
.layout_sitepwa_sitelogo_banner .sitepwa_sitebanner_logo_img img {
  max-height: 65px;
  max-width: 275px;
}
.layout_sitepwa_sitelogo_banner .sitepwa_logo_banner .sitepwa_sitebanner_logo p {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
.layout_sitepwa_sitelogo_banner + .generic_sitepwa_layout_container > h3 {
  display: none;
}
.sitepwa-mobile-preivew-showcase-wapper {
  position: relative;
  height: 41rem;
}
.sitepwa-mobile-preivew-showcase-bg {
  background-image: url(~/application/modules/Sitepwa/externals/images/mobile-frame.svg);
  transition: all 0.2s ease;
}
.sitepwa-mobile-preivew-showcase-bg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  right: 0;
  left: 0;
  top: 0;
}
.sitepwa-mobile-preivew-showcase-bg iframe{
  margin-top: 52px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 295px;
  height: 532px;
}
.gifs_layer_activtiy_comment .gifs_layer_content {
  margin: 7px 0 0 -14px;
}
.stickers_layer_activtiy_comment .stickers_layer_content {
  margin: 7px 0 0 7px;
}

/*=====Sitegroup plugin======*/
/*.generic_sitepwa_layout_container .sitegroup-search-box .form-elements, .generic_sitepwa_layout_container .sitestore-search-box .form-elements, .generic_sitepwa_layout_container .sitepage-search-box .form-elements, .generic_sitepwa_layout_container .sitepage-search-box .form-elements, .generic_sitepwa_layout_container .siteforum-search-box .form-elements {
  width: 100%;
  float: none;
  box-sizing: border-box;
}
.generic_sitepwa_layout_container .sitegroup-search-box .form-wrapper, .generic_sitepwa_layout_container .sitestore-search-box .form-wrapper, .generic_sitepwa_layout_container .sitepage-search-box .form-wrapper, .generic_sitepwa_layout_container .siteforum-search-box .form-wrapper {
  float: none;
}
.generic_sitepwa_layout_container .sitegroup-search-box .form-elements input[type="text"], .generic_sitepwa_layout_container .sitegroup-search-box .form-elements select, .generic_sitepwa_layout_container .sitestore-search-box .form-elements input[type="text"], .generic_sitepwa_layout_container .sitestore-search-box .form-elements select, .generic_sitepwa_layout_container .sitepage-search-box .form-elements select, .generic_sitepwa_layout_container .siteforum-search-box .form-elements select  {
  border: 1px solid $theme_border_color;
  width: 100% !important;
  max-width: 100%;
}
.generic_sitepwa_layout_container .sitegroup-search-box #submitButton-element, .generic_sitepwa_layout_container .sitestore-search-box #submitButton-element, .generic_sitepwa_layout_container .sitepage-search-box #submitButton-element,  .generic_sitepwa_layout_container .siteforum-search-box #submitButton-element { 
  position: relative;
  display: block;
  margin: 2px;
}
.generic_sitepwa_layout_container .sitegroup-search-box #submitButton-element button, .generic_sitepwa_layout_container .sitestore-search-box #submitButton-element button, .generic_sitepwa_layout_container .sitepage-search-box #submitButton-element button, .generic_sitepwa_layout_container .sitepage-search-box #submitButton-element button, .generic_sitepwa_layout_container .siteforum-search-box #submitButton-element button  {
  width: 100%;
  text-indent: 0;
  height: auto;
}
.generic_sitepwa_layout_container .sitegroup-search-box #submitButton-element button::after, .generic_sitepwa_layout_container .sitestore-search-box #submitButton-element button::after, .generic_sitepwa_layout_container .sitepage-search-box #submitButton-element button::after, .generic_sitepwa_layout_container .siteforum-search-box #submitButton-element button::after  {
  display: none;
}*/
/*.generic_sitepwa_layout_container .sitegroup-search-box .form-wrapper, .generic_sitepwa_layout_container .sitestore-search-box .form-wrapper,  .generic_sitepwa_layout_container .sitepage-search-box .form-wrapper, .generic_sitepwa_layout_container .siteforum-search-box .form-wrapper  {
  margin: 2px;
}*/

/*=========Quick Search CSS========*/

[class*="_form_quick_search"] #searchBox .form-elements {
	width: 100%;
	box-sizing: border-box;
}
[class*="_form_quick_search"] #searchBox .form-elements .form-wrapper  {
	width: 100% !important;
	padding: 1px 2px !important;
    border: 1px solid $theme_input_border_colors;
	background-color: $theme_input_background_color;
	box-sizing: border-box;
	clear: both;
}
[class*="_form_quick_search"] #searchBox .form-elements .form-wrapper .form-element input, [class*="_form_quick_search"] #searchBox .form-elements .form-wrapper .form-element select  {
	width: 100% !important;
	box-sizing: border-box;
	max-width: 100%;
}
[class*="_form_quick_search"] #searchBox .form-elements #submitButton-wrapper {
	float: none;
}
[class*="_form_quick_search"] #searchBox .form-elements #submitButton-wrapper #submitButton-element {
	position: relative;
	display: block;
	margin: 2px;
}
[class*="_form_quick_search"] #searchBox .form-elements #submitButton-wrapper #submitButton-element button {
	width: 100%;
	text-indent: 0;
	height: auto;
}
[class*="_form_quick_search"] #searchBox .form-elements #submitButton-wrapper #submitButton-element button::after {
	display: none;
}
[class*="_form_quick_search"] #searchBox .form-elements .form-wrapper #save-element.form-element button {
	height: auto;
}
.layout_sitepwa_header._show_search .sitepwa_search .layout_siteadvsearch_search_wrapper #siteadv_menu_mini_menu ul li#global_search_form_container ul.adsearch-autosuggest .autocompleter-choices {
	display: flex;
}
/*.layout_sitepwa_header._show_search .sitepwa_search .layout_siteadvsearch_search_wrapper #siteadv_menu_mini_menu ul li#global_search_form_container ul.adsearch-autosuggest .autocompleter-choices img {
	display: table-cell;
}
.layout_sitepwa_header._show_search .sitepwa_search .layout_siteadvsearch_search_wrapper ul.tag-autosuggest > li.autocompleter-choices .autocompleter-choice {
	display: table-cell;
}*/

/*=====Sitealbum category CSS======*/
.generic_sitepwa_layout_container .layout_middle .sitealbum_sponsored_categories li {
  width: 100% !important;
  padding: 3px 0px;
}

.layout_sitepwa_headingtitle > h2 {
  color: $theme_topbar_minimenu_link_color;
  font-size: 18px;
  margin: 0 auto;
  padding: 0;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}
.layout_sitepwa_search_content .sitepwa_search_from_show_link {
  float: right;
  margin-bottom: 8px;
  width: 100%;
  text-align: right;
}
.generic_sitepwa_layout_container .sitepwa_search_from_hide_link {
  float: right;
  margin-bottom: 8px;
  width: 100%;
  text-align: right;
  color: $theme_link_color_hover !important;
  cursor: pointer;
}
.layout_sitepwa_search_content .sitepwa_search_from_show_link::after {
  clear: both;
  display:block;
}
.generic_sitepwa_layout_container .sitepwa_search_from_hide_link::after {
	clear: both;
}
.layout_middle .layout_sitepwa_create_account_banner {
  padding: 0px;
}
.sitepwa_create_account_banner {
  padding: 20px 0px 25px;
  border-top: 1px dashed $theme_border_color;
}
.sitepwa_create_account_banner p{
  text-align: center;
}
.sitepwa_create_account_banner .button{
  text-align: center;
  display: block;
  margin: 20px auto;
  float: none;
  background-color: #62C462;
  border-color: #62C462;
}
.sitepwa_create_account_banner > div {
  text-align: center;
}
.layout_event_cover_photo .coverphoto_navigation ul,
.layout_group_cover_photo .coverphoto_navigation ul,
.layout_user_cover_photo .coverphoto_navigation ul {
  left: -180px;
}
.layout_event_cover_photo .coverphoto_navigation ul:before,
.layout_group_cover_photo .coverphoto_navigation ul:before,
.layout_user_cover_photo .coverphoto_navigation ul:before {
  left: 170px;
}
.layout_event_cover_photo .profile_cover_photo_wrapper,
.layout_group_cover_photo .profile_cover_photo_wrapper,
.layout_user_cover_photo .profile_cover_photo_wrapper {
  height: 200px;
}
.layout_event_cover_photo .profile_main_photo .item_photo,
.layout_group_cover_photo .profile_main_photo .item_photo,
.layout_user_cover_photo .profile_main_photo .item_photo {
  min-height: 70px;
  max-height: 70px;
  overflow: hidden;
  width: 70px;
}
.generic_sitepwa_layout_container.generic_layout_container .layout_event_cover_photo,
.generic_sitepwa_layout_container.generic_layout_container .layout_group_cover_photo,
.generic_sitepwa_layout_container.generic_layout_container .layout_user_cover_photo {
  padding: 0 0;
}
.layout_event_cover_photo .profile_main_photo_wrapper #event_profile_photo,
.layout_group_cover_photo .profile_main_photo_wrapper #group_profile_photo,
.layout_user_cover_photo .profile_main_photo_wrapper #user_profile_photo {
  background-position: center top;
  background-repeat: no-repeat;
  display: inline-block;
  height: 70px;
  width: 70px;
  background-size: cover;
}
.layout_event_cover_photo .cover_photo_profile_options,
.layout_group_cover_photo .cover_photo_profile_options,
.layout_user_cover_photo .cover_photo_profile_options {
  margin-left: 100px;
}
.layout_event_cover_photo .profile_main_photo_wrapper,
.layout_group_cover_photo .profile_main_photo_wrapper,
.layout_user_cover_photo .profile_main_photo_wrapper {
  width: 80px;
}
.layout_event_cover_photo .profile_main_photo_wrapper .profile_cover_options .edit-button,
.layout_group_cover_photo .profile_main_photo_wrapper .profile_cover_options .edit-button,
.layout_user_cover_photo .profile_main_photo_wrapper .profile_cover_options .edit-button {
  top: -60px;
}
.layout_event_cover_photo .coverphoto_navigation ul > li > a,
.layout_group_cover_photo .coverphoto_navigation ul > li > a,
.layout_user_cover_photo .coverphoto_navigation ul > li > a {
  background-image: none !important;
}
#global_page_event-profile-index .generic_sitepwa_layout_container.layout_top + .layout_main,
#global_page_group-profile-index .generic_sitepwa_layout_container.layout_top + .layout_main,
#global_page_user-profile-index .generic_sitepwa_layout_container.layout_top + .layout_main {
  padding: 0;
}
#global_page_event-profile-index .generic_sitepwa_layout_container.layout_top + .layout_main .layout_middle,
#global_page_group-profile-index .generic_sitepwa_layout_container.layout_top + .layout_main .layout_middle,
#global_page_user-profile-index .generic_sitepwa_layout_container.layout_top + .layout_main .layout_middle{
  margin-top: 0;
}

/*====SitePWA search content CSS====*/
.layout_sitepwa_search_content {
	position: relative;
}

.layout_sitepwa_search_content .search-field ._input_search {
	position: relative;
	clear: both;
}
.layout_sitepwa_search_content a.sitepwa_search_from_show_link {

    position: absolute;
    z-index: 1;
    right: 0px;
    width: 33px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    margin: 1px;
    cursor: pointer;
}
.layout_sitepwa_search_content .search-field ._input_search input {
	padding: 8px 40px 8px 30px;
	box-sizing: border-box;
}
.layout_sitepwa_search_content a.sitepwa_search_from_show_link::after {
	content: '\\f1de';
	font-family: fontawesome;
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	-ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
	opacity: 0.5;
}
.layout_sitepwa_search_content a.sitepwa_search_from_show_link:hover::after {
	opacity: 1;
}
a.sitepwa_search_from_hide_link::after {
	content: '\\f1de';
	font-family: fontawesome;
	margin-left: 8px;
	display: inline-block;
	font-size: 15px;
	font-weight: normal;
	-ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
	color: $theme_link_color_hover;
}
a.sitepwa_search_from_hide_link::after {
    content: '\\f1de';
    font-family: fontawesome;
	margin-left: 8px;
    display: inline-block;
    font-size: 15px;
	-ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
	color: $theme_link_color_hover;
}
.pwa-search-form ._input_search::after{
  position: absolute;
  left: 8px;
  top: 10px;
  filter: Alpha(Opacity=50);
  opacity: .5;
  font-size: 16px;
  content: "\\f002";
  display: inline-block;
  font-family: FontAwesome !important;
}

/*=======Seaocore horizontal navigation CSS======*/

.seaocore_navigation_h .seaocore_menu_h {
	display: inline-block;
	font-size: 0px;
	width: 85%;
	white-space: nowrap;
	overflow-x: auto;
	vertical-align: middle;
	padding: 0px 10px;
	box-sizing: border-box;
}
.demo_info_tip_wrapper {

    display: inline-block;
    margin: 5px;
    width: 11%;
    vertical-align: middle;
    text-align: right;

}
.seaocore_navigation_h .demo_info_tip_wrapper {
	display: block !important;
}
.seaocore_txt_light {
  color: $theme_font_color_light;
}
.f_small {
  font-size:12px;
}

/*========Startup Widget CSS=======*/

.sitepwa_splash_screen{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
	background: $theme_button_background_color;
	background: -moz-linear-gradient(to right,  $theme_foreground_background_color -40%, $theme_button_background_color 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(to right,  $theme_foreground_background_color -40%, $theme_button_background_color 100%); /* Chrome,Safari4+ */
    background: -webkit--linear-gradient(to right,  $theme_foreground_background_color -40%, $theme_button_background_color 100%); /* Chrome10+,Safari5.1+ */
    background: -o--linear-gradient(to right,  $theme_foreground_background_color -40%, $theme_button_background_color 100%); /* Opera 12+ */
    background: linear-gradient(to right,  $theme_foreground_background_color -40%,$theme_button_background_color 100%); /* W3C */
  }
  .sitepwa_splash_screen div.sitepwa_startup_cont{
    text-align:center;
    position:absolute;
    top:35%;
    width:100%;
  }
  .sitepwa_startup_cont div._sitetitle{
    font-size:25px;
    font-weight:bold;
    margin-bottom:10px;
  }
  .sitepwa_startup_cont div._sitetitle img{
    max-width:90%;
  }
  .sitepwa_startup_cont div._sitetitle,
  .sitepwa_startup_cont div._copyrighttxt{
    color: #fff;
    text-shadow:0 2px 3px rgba(0, 0, 0, .2);
    font-family:arial, verdana, sans-serif;
    text-align: center;
  }
  .sitepwa_startup_cont + div.sitepwa_startup_loader{
    bottom: 10px;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  .sitepwa_splash_screen > img{
    height: 100%;
    width: 100%;
  }
  .sitepwa_startup_loader ._spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
  }