/* Header Constants */
allure_header_header_background_color: #151515;
allure_header_logo_font_color: #00BCD4;
allure_header_mini_menu_items_color: #e5e5e5;
allure_header_mini_menu_items_color_on_hover: #ffffff;
allure_header_minimenu_items_background_color: #222222;
allure_header_minimenu_items_background_color_on_hover: #222222;
allure_header_header_searchbox_text_color: #999;
allure_header_header_searchbox_border_color: #d9d8d8;
allure_header_main_menu_background_color: #00BCD4;
allure_header_main_menu_link_color: #e5e5e5;
allure_header_main_menu_link_color_on_hover: #ffffff;
allure_header_theme_main_menu_links_color_on_hover: #00BCD4;

/* Footer Constants */
allure_footer_footer_background_color: #303030;
allure_footer_footer_link_and_description_color: #808080;
allure_footer_footer_link_color_on_hover: #00BCD4;
allure_footer_footer_heading_color: #e5e5e5;
allure_footer_bottom_footer_background_color: #111;
allure_footer_bottom_footer_text_color: #444;
allure_footer_bottom_footer_link_color: #808080;
allure_footer_bottom_footer_link_color_on_hover: #00BCD4;

/* Body Constants */
allure_body_theme_color: #00BCD4;
allure_body_body_background_color: #000;
allure_body_content_background_color: #151515;
allure_body_font_color: #b2b2b2;
allure_body_font_color_light: #888;
allure_body_header_color: #dedbdb;
allure_body_link_color: #fff;
allure_body_link_color_on_hover: #00BCD4;
allure_body_form_label_font_color: #b2b2b2;
allure_body_input_background_color: #1e1e1e;
allure_body_input_font_color: #999;
allure_body_input_border_color: #272727;
allure_body_button_background_color: #00BCD4;
allure_body_button_background_color_on_hover: #00a9be;
allure_body_button_font_color: #ffffff;
allure_body_button_font_color_on_hover: #ffffff;
allure_body_button_border_color: #00BCD4;
allure_body_button_border_color_on_hover: #00a9be;
allure_body_comments_background_color: #222;
allure_body_border_color: #2d2d2d;
allure_body_border_medium_color: #282828;
allure_body_border_dark_color: #242424;
allure_body_tag_background_color: #000;
allure_body_pulldown_background_color: #2c2c2c;
allure_body_pulldown_background_color_on_hover: #272727;
allure_body_pulldown_background_color_on_active: #232323;
allure_body_pulldown_border_color: #424242;
allure_body_list_background_color: #2c2c2c;
allure_body_list_background_color_alt: #272727;
allure_body_list_background_color_on_hover: #232323;
allure_body_tabs_font_color: #cccccc;
allure_body_tabs_font_color_on_hover : #00BCD4;
allure_body_tabs_border_color_on_hover: #00BCD4;
allure_body_tabs_font_color_on_active: #00BCD4;
allure_body_landingpage_purchase_now_button_background_color: #151515;
allure_body_landingpage_purchase_now_button_font_color : #fff;
