sitepwa_body_body_background_color: #efefef;
sitepwa_header_main_menu_background_color:#1aa3b3;

/*======New Constrant=====*/
sitepwa_top_header_background_color:#1aa3b3;
sitepwa_topbar_menu_heading_background_color:#f2f2f2;
sitepwa_user_link_color:#ffffff;
sitepwa_mainmenu_border_color_light:#f2f0f0;
sitepwa_mainmenu_border_color_dark:#ffffff;
sitepwa_minimenu_link_color_hover:#ffc712;
sitepwa_theme_signin_color:#1aa3b3;
sitepwa_theme_signin_color_hover:#1aa3b3;
/*======New Constrant=====*/

sitepwa_header_main_menu_link_color: #1aa3b3;
sitepwa_header_main_menu_link_color_on_hover:#ffc712;
sitepwa_header_mini_menu_items_color:#eeeeee;
sitepwa_header_mini_menu_items_color_on_hover:#ffffff;
sitepwa_theme_menu_tip_color:#1aa3b3;
sitepwa_body_font_color:#1aa3b3;
sitepwa_body_font_color_light:#1aa3b3;
sitepwa_body_link_color:#1aa3b3;
sitepwa_body_link_color_on_hover:#ffc712;
sitepwa_body_header_color:#1aa3b3;
sitepwa_body_border_color:#f2f0f0;
sitepwa_body_border_medium_color:#e4e0e0;
sitepwa_body_border_dark_color:#d9d8d8;
/*theme_title_border_color:#1bc1d6;*/
/*theme_popup_border_color:#1bc1d6;*/
sitepwa_body_content_background_color:#ffffff;
sitepwa_body_input_background_color:#ffffff;
sitepwa_body_input_font_color:#1aa3b3;
sitepwa_body_input_border_color:#dfdfdf;
sitepwa_body_button_background_color:#1aa3b3;
sitepwa_body_button_background_color_on_hover:#ffc712;
sitepwa_body_button_background_color_on_active:#ffc712;
sitepwa_body_button_font_color:#ffffff;
sitepwa_body_button_border_color:#1aa3b3;
sitepwa_body_form_label_font_color:#444;
sitepwa_body_tabs_font_color:#1aa3b3;
sitepwa_body_tabs_font_color_on_hover:#ffc712;
sitepwa_body_tabs_font_color_on_active:#ffc712;
/*theme_buttontabs_border_color:#DFE5E8;*/
/*theme_buttontabs_border_color_hover:#B6C6C9;*/
/*theme_buttontabs_border_color_active:#B6C6C9;*/
/*theme_tabs_background_color:#f4f6f7;*/
sitepwa_body_border_color:#f2f0f0;
sitepwa_body_tabs_border_color_on_hover:#ffc712;
sitepwa_body_tabs_font_color:#444;
sitepwa_body_tabs_font_color_on_hover:#ffc712;
sitepwa_body_tabs_font_color_on_active:#ffc712;
/*theme_tabs_background_color_active:#fff;*/
/*theme_tabs_background_color_hover:#fff;*/
sitepwa_body_list_background_color:#fff;
sitepwa_body_list_background_color_alt:#f9f9f9;
sitepwa_body_list_background_color_on_hover:#f6f6f6;
sitepwa_body_tag_background_color:#fff;

sitepwa_body_pulldown_background_color:#fff;
sitepwa_body_pulldown_background_color_on_hover:#e5e5e5;
sitepwa_body_pulldown_background_color_on_active:#cccccc;
sitepwa_theme_primary_color:#1aa3b3;
sitepwa_body_pulldown_border_color:#e4e4e4;
sitepwa_body_pulldown_background_color:#fff;
sitepwa_body_pulldown_background_color_on_hover:#e5e5e5;
sitepwa_body_pulldown_background_color_on_active:#cccccc;

sitepwa_footer_footer_background_color:#303030;
sitepwa_footer_bottom_footer_link_color:#808080;
sitepwa_footer_bottom_footer_link_color_on_hover:#00BCD4;
sitepwa_footer_footer_heading_color:#ffffff;
sitepwa_footer_bottom_footer_background_color: #111;
sitepwa_footer_bottom_footer_text_color: #444;
sitepwa_footer_bottom_footer_link_color: #808080;
sitepwa_footer_bottom_footer_link_color_on_hover: #00BCD4;


