/* Add your custom css here which are not overwrite during a plugin upgradation */

/*For notification icon*/
span.aaf_update_pulldown_content_stat:before {
    font-family: fontawesome;
}

.notification_type_schedule_reminder {
    background: no-repeat;
}

/*For notification scroll*/
.sitemenu_scroll_content {
    overflow-y: scroll;
}

.sitemenu_scroll_content {
    overflow: overlay!important;
}

/*For Footer*/
#global_footer {
    margin-bottom: 20px;
}