<?php
/**
 
 */
?>
<div class="generic_layout_container layout_user_home_links">
<div class="quicklinks">
  <?php
    echo $this->navigation()
      ->menu()
      ->setContainer($this->navigation)
      // ->setPartial(array('_navIcons.tpl', 'core'))
      ->render()
  ?>
</div>
</div>
