/* ADD CUSTOM STYLE */

/*Notification Bubble*/
#core_menu_mini_menu .seaocore_pulldown_count {
    background-color: #ffc712!important;
}

/*For Appoinment */
#global_page_intechcore-appointment-create .global_form div.form-element select:first-child {
    width: 6%;
}

/*hide pValues for appointment form*/
#global_page_intechcore-appointment-create div#toValues-label {
    display: none;
}

.allure_footer_bottom_block .social_connect ul > li > a {
    border-radius: 50%;
}

/*For Check Box*/
.global_form input + label {
    margin-left: 2px;
    line-height: unset;
}

/*For notification icon*/
span.aaf_update_pulldown_content_stat:before {
    font-family: fontawesome;
}

span.aaf_update_pulldown_content_stat.notification_type_schedule_reminder_now > span {
    margin-left: 20px;
}

.notification_type_schedule_reminder_now {
    height: 20px;
}
span.notification_item_general.notification_type_schedule_reminder_now > a {
    margin-left: 20px;
}

/*For Calender*/
div.seaocore_event_calendar table caption {
    background: #fff;
}


/*For appointment icnon*/
span.aaf_update_pulldown_content_stat.notification_type_schedule_reminder > span {
    margin-left: 20px!important;
}
.notification_item_general.notification_type_schedule_reminder > a {
    margin-left: 20px !important;
}









