@include "mixins.css";
@scan "application/modules" "externals/styles/main.css" "Core";  
@include "~/application/modules/Core/externals/styles/main.css";
/*--------------------------------------------------- === ALLURE THEME WORK === -------------------------------------------------------*/
/*GLOBAL STYLES, FONTS & RESETS*/
html {
  min-height: 100%;
  margin-bottom: 1px;
}
body {
  background-color:$theme_body_background_color;
  overflow-x: hidden;
  margin:0;
  min-height:100%;
}
* {
  padding: 0;
  margin: 0;
  border: none;
  border-style: solid;
  border-width: 0px;
  border-color:$theme_border_color;
  font-family: $theme_font_family;
  /*font-weight: 400;*/
}
*[dir="rtl"] {
  direction: rtl;
  unicode-bidi: embed;
}
table {
  border-collapse: collapse;
}
br {
  clear: both;
}
ul {
  list-style-type: none;
}
a:link, a:visited {
  color:$theme_link_color;
  text-decoration:$theme_link_decoration;
}
a:hover {
  color:$theme_link_color_hover;
  text-decoration:$theme_link_decoration_hover;
}
div, td {
  font-size:$theme_font_size;
  color:$theme_font_color;
  text-align:$theme_text_align;
  line-height:20px;
  letter-spacing: .1px;
}
*[dir="rtl"] div, *[dir="rtl"] td {
  direction: rtl;
  unicode-bidi: embed;
  text-align: right;
}
h2, h3, h4 {
  color:$theme_headline_color;
  font-weight: normal;
  line-height: 20px;
}
h2 {
  font-size:$theme_headline_size_large;
  letter-spacing: -0.03em;
  margin-bottom: 10px;
}
h3 {
  font-size:$theme_headline_size_medium;
  margin-bottom: 5px;
}
h3.sep {
  margin-bottom: 1em;
}
h4 {
  font-weight: normal;
  padding: .5em 0px .5em 0px;
  margin-bottom: 10px;
}
h4 > span {
  display: inline-block;
  position: absolute;
  background-color:$theme_body_background_color;
  padding-right: 6px;
  margin-top: -1px;
}
[dir="rtl"] h4 > span {
	padding-left: 6px;
	padding-right: 0;	
}
/*GENERAL LAYOUT*/
.generic_layout_container > h3 {
  margin-bottom: 10px;
  text-align: left;
  border-bottom: 1px solid $theme_border_color;
  padding-bottom: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: normal;
  background: $theme_foreground_background_color;
  font-family: $allure_fonts_heading_font_family;
  font-size:$allure_fonts_heading_fontsize;
}
[dir="rtl"] .generic_layout_container > h3 {
	text-align: right;
}
.generic_layout_container > h3 + div,
.generic_layout_container > h3 + ul{
  padding-top:0;
}
.layout_left {
  float: left;
  width:$theme_content_columns_left_width;
  padding: 0px 15px 0px 0px;
  vertical-align: top;
	box-sizing: border-box;
}
[dir="rtl"] .layout_left {
  float: right;
  padding: 0px 0px 0px 15px;
}
.layout_middle {
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  vertical-align: top;
}
.layout_right {
  float: right;
  width:$theme_content_columns_right_width;
  padding: 0px 0px 10px 15px;
  vertical-align: top;
	box-sizing: border-box;
}
[dir="rtl"] .layout_right {
  float: left;
  padding: 0px 15px 10px 0px;
}
#global_wrapper {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 35px;
}
[dir="rtl"] #global_wrapper {
  text-align: center;
}
#global_content_simple {
  overflow: hidden;
}
/*.global_left_panel.panel-collapsed .layout_top + .layout_main,
.global_left_panel.panel-collapsed .layout_page_header.allure_core_widgets_header .layout_main,
.global_left_panel.panel-collapsed .layout_allure_menu_footer {
	width: 100%;
	box-sizing: border-box;
}*/
.global_left_panel.panel-collapsed .layout_top + .layout_main,
.global_left_panel.panel-collapsed .layout_allure_menu_footer {
	width: 100%;
	box-sizing: border-box;
}
.global_left_panel.panel-collapsed #global_content {
	margin-top: 0 !important;
}

/*HEADER*/
.layout_page_header {
  text-align: center;
  clear: both;
  width: 100%;
  display: inline-block;
}
[dir="rtl"] .layout_page_header {
  text-align: center;
}
.layout_page_header .layout_main {
  	text-align: right;
	display: inline-block;
	padding: 8px 0px;
	width: 100%;
	vertical-align: middle;
	box-sizing: border-box;
}
[dir="rtl"] .layout_page_header .layout_main {
	text-align: left;	
}
/* Header with core widgets */
/*.layout_page_header.allure_core_widgets_header {
	display: inline-block;
	width: 100%;
}*/
/*
.layout_page_header.allure_core_widgets_header .layout_main {
	display: inline-block;
	padding: 8px 15px;
	vertical-align: middle;
}*/
/*
.layout_page_header.allure_core_widgets_header .layout_core_menu_mini {
	 float: right;
}*/
/*
.layout_page_header.allure_core_widgets_header .layout_core_search {
	float: left;
}*/
/*
.layout_page_header.allure_core_widgets_header .layout_core_menu_main {
	 margin-top: 0;
	 margin-bottom: 0;
}*/
.global_allure_header_body_wapper .layout_page_header .layout_main {
	padding: 0;
}
.global_allure_header_body_wapper .layout_core_menu_mini,
[dir="rtl"] .global_allure_header_body_wapper .layout_core_menu_mini {
	float: none;
}
.global_allure_header_body_wapper div.layout_sitemenu_menu_main {
	margin-top: 0;
}
.global_allure_header_body_wapper div.sitemenu_main_menu_wrapper {
	border-radius: 0;
}

/*FOOTER*/
/*Footer general layout*/
.layout_page_footer {
	clear: both; 
	overflow: hidden;
	background-repeat: repeat;
	margin-bottom: 0;
	position: relative;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
/*	box-shadow: 0 0px 4px 3px #dfdfdf;*/
 }
.layout_page_footer:before {
	content: " ";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.layout_page_footer .layout_main {
  overflow: hidden;
  padding-top: 70px;
  box-sizing: border-box;
	max-width: 100% !important;
}
.layout_allure_menu_footer {
  overflow: hidden;
}
.layout_page_footer .layout_main > div {
  position: relative;
}
.layout_allure_menu_footer .tip {
	padding-left: 15px;
	padding-right: 15px;
}
.allure_footer_content_block {
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.allure_footer_bottom_block {
	clear: both;
	padding-bottom: 30px;
}
.allure_footer_content_inner {
	font-size: 14px;
	margin-bottom: 30px;
}
.allure_footer_content_inner iframe {
	height: 300px !important;
}
.allure_footer_content_inner ul > li {
	border-bottom: 1px dashed #404040;
	margin-bottom: 8px;
	padding-bottom: 8px;
	font-weight: 500;
}
.allure_footer_content_inner ul > li:first-child {
	font-size: 18px;
	margin-bottom: 15px;
	font-weight: 400;
	margin-top: 0;
	padding: 0;
	border-bottom: none;
}
.allure_footer_content_inner ul > li > a {
	text-decoration: none;
	-webkit-transition: all 300ms ease-in;
	-o-transition: all 300ms ease-in;
	transition: all 300ms ease-in;
}
.allure_footer_logo {
	margin-bottom: 20px;
}
.allure_footer_logo a {
	font-size: 24pt;
	line-height: 24px;
}
.allure_footer_logo a img {
  	max-width: 209px;
}
.allure_footer_desc {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 23px;
}
.allure_footer_desc + .contact_info {
	margin-bottom: 30px;
}
.allure_footer_content_block .contact_info li {
	font-size: 14px;
	margin-bottom: 5px;
}
.allure_footer_content_block .contact_info li i {
	margin-right: 5px;
}
[dir="rtl"] .allure_footer_content_block .contact_info li i {
	margin-right: 0;
	margin-left: 5px;
}
.allure_footer_bottom_block {
	border-top: 1px solid #404040;
	float: left;
	width: 100%;
	padding-top: 30px;
	margin-top: 30px;
}
[dir="rtl"] .allure_footer_bottom_block {
	float: right;
}
.allure_footer_bottom_block_inner {
	margin-bottom: 30px;
}
.allure_footer_bottom_block_inner span {
	font-size: 14px;
}
.allure_footer_bottom_block_inner h5 {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 10px;
}
.allure_footer_bottom_block .contact_no,
.allure_footer_bottom_block .social_connect,
.allure_footer_bottom_block .newsletter_subscribe {
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.allure_footer_content_block .social_connect ul > li,
.allure_footer_bottom_block .social_connect ul > li {
	display: inline-block;
	margin-right: 5px;
}
[dir="rtl"] .allure_footer_content_block .social_connect ul > li,
.allure_footer_bottom_block .social_connect ul > li {
	margin-left: 5px;
	margin-right: 0;
}
.allure_footer_content_block .social_connect ul > li > a,
.allure_footer_bottom_block .social_connect ul > li > a {
	border: 1px solid #777777;
	height: 30px;
	width: 30px;
	line-height: 30px;
	display: block;
	text-align: center;
}
[dir="rtl"] .allure_footer_content_block .social_connect ul > li > a,
.allure_footer_bottom_block .social_connect ul > li > a {
	text-align: center;
}
.allure_footer_content_block .social_connect ul > li > a:hover,
.allure_footer_bottom_block .social_connect ul > li > a:hover {
	background-color: #fff;
}
.allure_footer_bottom_block .newsletter_subscribe form {
	overflow: hidden;
}
.allure_footer_bottom_block .newsletter_subscribe form button {
	margin-left: -4px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
[dir="rtl"] .allure_footer_bottom_block .newsletter_subscribe form button {
	margin-right: -4px;
	border-radius: 2px 0 0 2px;
	margin-left: 0;
}
.allure_footer_bottom_block .newsletter_subscribe form input {
	width: auto;
}
.allure_footer_bottom_block .newsletter_subscribe form input,
.allure_footer_bottom_block .newsletter_subscribe form button {
	height: 40px;
/*	display: table-cell;*/
	vertical-align: top;
}
/* Core footer + Advanced footer */
div.layout_core_menu_footer,
[dir="rtl"] div.layout_core_menu_footer {
	text-align: center;
}
div.layout_core_menu_footer,
div.layout_sitemenu_menu_footer {
	width: 100%;
	padding: 20px 15px;
	box-sizing: border-box;
	float: left;
}
[dir="rtl"] div.layout_core_menu_footer,
[dir="rtl"] div.layout_sitemenu_menu_footer {
	float: right;
}
div.layout_core_menu_footer #language {
	padding: 3px;
}

/* CORE MINI MENU + ADVANCED MINI MENU */
/* Common css work for advanced and core mini menu */
.layout_core_search {
	float: left;
}
[dir="rtl"] .layout_core_search {
	float: right;
}
.layout_core_menu_mini > div > ul > li {
  overflow: hidden;
  padding: 2px 5px;
  vertical-align: middle;
  display: inline-block;
  font-size: 13px;
}
.layout_core_menu_mini > div > ul > li#sitemenu_mini_currency_updates_pulldown {
	margin-top: 0;
	margin-bottom: 0;
}
.layout_core_menu_mini #core_menu_mini_menu > ul > li > a {
  display: block;
  color: $theme_topbar_minimenu_link_color;
  font-weight: normal;
  padding: 8px;
  border: 1px solid $theme_topbar_minimenu_link_color;
  text-align: center;
  min-width: 40px;
/*  height: 40px;*/
  box-sizing: border-box;
  background: $theme_topbar_minimenu_link_background_color;
}
.layout_core_menu_mini #core_menu_mini_menu > ul > li > a:hover{
  background:$theme_topbar_minimenu_link_hover_background_color;
  color:$theme_topbar_minimenu_link_hover_color;
  text-decoration:$theme_topbar_minimenu_link_hover_decoration;
  border-color: $theme_topbar_minimenu_link_hover_color;
}
.layout_core_menu_mini > div > ul > li a:hover::before{
  color:$theme_topbar_minimenu_link_hover_color;
}
.layout_core_menu_mini #core_menu_mini_menu > ul > li > a,
.layout_core_menu_mini #core_menu_mini_menu > ul > li > a > img {
  border-radius: 25px;
}
.layout_core_menu_mini > div > ul > li a::before{
	font-family: 'FontAwesome';	
	color:$theme_topbar_minimenu_link_color;
	font-size: 18px;
}

/* Advanced mini menu */
.layout_sitemenu_menu_mini {
	display: inline-block;
	vertical-align: middle;
}
.layout_sitemenu_menu_mini #core_menu_mini_menu > ul > li > a .item_photo_user {
	height: 40px;
	width: 40px;
}
.layout_sitemenu_menu_mini #core_menu_mini_menu > ul > li > a[title= "My Profile"] {
	padding: 0;
	height: 100%;
}
.layout_sitemenu_menu_mini > .layout_core_menu_mini > div > ul > li a img {
	display:none;	
}
.layout_sitemenu_menu_mini > .layout_core_menu_mini > div > ul > li a img.item_photo_user{
	display:block;
	border: none;
}
.icon_siteevents_my_tickets a::before {
	content:"\\f145";
}
.layout_sitemenu_menu_mini > .layout_core_menu_mini > div > ul > li > a[title~="Admin"]::before {
	content:'\\f007';
}
#sitemenu_mini_friend_request_updates_pulldown > a::before {
	content:'\\f234';
}
#sitemenu_mini_notification_updates_pulldown > a::before {
	content:'\\f0f3';
}
#core_mini_messages_updates_pulldown > a::before {
	content:'\\f003';
}
#core_mini_settings_updates_pulldown > a::before {
	content:'\\f013';
}
#sitetheme_mini_cart_updates_pulldown > a::before,
#sitemenu_mini_cart_updates_pulldown > a::before {
	content:'\\f07a';
}
#sitemenu_mini_magentocart_updates_pulldown > a::before {
	content:'\\f07a';
}


/*SE Core mini menu*/
#core_mini_updates_pulldown {
	vertical-align: middle;
}
#core_menu_mini_menu_update .updates_pulldown > a:hover {
	border-color: $theme_topbar_minimenu_link_hover_color;
}
.layout_core_menu_mini #core_menu_mini_menu > ul > li a.core_mini_admin,
.layout_core_menu_mini #core_menu_mini_menu > ul > li a.core_mini_messages,
.layout_core_menu_mini #core_menu_mini_menu > ul > li a.core_mini_settings,
.layout_core_menu_mini #core_menu_mini_menu .updates_pulldown_active > a.core_mini_update,
.layout_core_menu_mini #core_menu_mini_menu .updates_pulldown > a.core_mini_update
{
  visibility: visible;
  overflow: hidden;  
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.layout_core_menu_mini #core_menu_mini_menu > ul > li a.core_mini_admin:before,
.layout_core_menu_mini #core_menu_mini_menu > ul > li a.core_mini_messages:before,
.layout_core_menu_mini #core_menu_mini_menu > ul > li a.core_mini_settings:before,
.layout_core_menu_mini #core_menu_mini_menu .updates_pulldown_active > a.core_mini_update:before,
.layout_core_menu_mini #core_menu_mini_menu .updates_pulldown > a.core_mini_update:before
{
  visibility: visible;
  width: 100%;
  height:100%;
  line-height: normal;
  display: block;
  vertical-align: middle;
  box-sizing: border-box;
}
.layout_core_menu_mini #core_menu_mini_menu > ul > li > a.core_mini_profile {
  width: 40px;
  height: 40px;
  padding: 0;
  text-align: center;
  border: 1px solid;
  border-radius: 50%;
  box-sizing: border-box;
}
.layout_core_menu_mini #core_menu_mini_menu > ul > li > a.core_mini_profile:hover {
  border-radius: 50%;
}
.layout_core_menu_mini #core_menu_mini_menu > ul > li > a.core_mini_profile > img.thumb_icon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: none;
  margin: 0;
}
.layout_core_menu_mini #core_menu_mini_menu > ul > li > a.core_mini_profile > span {
  display: none;
}
.layout_core_menu_mini #core_menu_mini_menu > ul > li > a.core_mini_admin:before{	content: "\\f007";}
.layout_core_menu_mini #core_menu_mini_menu > ul > li > a.core_mini_messages:before { content: "\\f0e0";}
.layout_core_menu_mini #core_menu_mini_menu > ul > li > a.core_mini_settings:before { content: "\\f013";}
.layout_core_menu_mini #core_menu_mini_menu .updates_pulldown > a.core_mini_update::before,
.layout_core_menu_mini #core_menu_mini_menu .updates_pulldown_active > a.core_mini_update::before {
    content: "\\f0f3";
}
.updates_pulldown_active > a.core_mini_update::before {
  color: $theme_topbar_minimenu_link_hover_color;
}
.minimenu_update_count_bubble,
.minimenu_message_count_bubble {
 position: absolute;
 background: #f00;
 color: rgb(255, 255, 255);
 padding: 5px;
 border-radius: 50%;
 text-align: center;
 line-height: 100%;
 height: 10px;
 font-size: 10px;
 width: auto;
 min-width: 10px;
 margin-left: 30px;
 font-style: normal;
 display: block;
}
[dir="rtl"] .minimenu_update_count_bubble,
[dir="rtl"] .minimenu_message_count_bubble
{
 margin-left: 0px;
 margin-right: 30px;
}
.minimenu_message_count_bubble {
    margin-top: -40px;
}
/*.minimenu_update_count_bubble
{
 display: none;
 margin-top: 0;
}*/
/*
.minimenu_update_count_bubble_active.show_icons
{
  display: block;
}
.minimenu_message_count_bubble.show_icons
{
 display: block;
 margin-top: -45px;
}*/

.layout_core_menu_mini #core_menu_mini_menu > ul > li > a.core_mini_profile span {
  color: inherit;
  text-transform: capitalize;
  font-weight:normal !important;
}
.layout_core_search_mini, #core_menu_mini_menu {
  display: inline-block;
  vertical-align: middle;
}

/* HIGHLIGHT NEW NOTIFICATION */
#core_menu_mini_menu ul.notifications > li.notifications_unread,
#core_menu_mini_menu .seocore_pulldown_item_list ul > li.seocore_pulldown_item_list_new{
  background-color:$theme_layout_background_color;
}

/*SITE LOGO*/
.layout_core_menu_logo {
  float: left;
  letter-spacing: -2px;
}
[dir="rtl"] .layout_core_menu_logo {
	float: right;
}
.layout_core_menu_logo a,
.layout_core_menu_logo a:hover {
  font-size: 30px;
  vertical-align: middle;
  line-height: normal;
}
.layout_core_menu_logo a img {
	max-height: 36px;
	vertical-align: middle;
}

/*
GLOBAL NOTICES (OUTSIDE FORMS)
Used to show a message or notice with an icon on a page,
usually above content, not within a form.
*/
.tip {
  overflow: hidden;
  clear: both;
  margin: 10px 0;
}
.tip > span {
  display: inline-block;
  padding: 0.5em 0.9em;
  border: 1px solid $theme_border_medium_color;
  float: left;
}
[dir="rtl"] .tip > span {
  float: right;
}
.tip > span:before {
  content: "\\f0eb";
  font-family: fontawesome;
  margin-right: 5px;
  color: #FF9800;
}
[dir="rtl"] .tip > span:before {
  margin-right: 0px;
  margin-left: 5px;
}
/*tip open on hover*/
html .info_tip_content_wrapper {
  border:1px solid $theme_border_dark_color;
}
div.tip_main_body_title {
  float: none!important;
}
/*
GLOBAL FORM ELEMENTS
Used for most forms throughout the site.
*/
button {
  padding: 7px 16px;
  font-size: 13px;
  letter-spacing: .5px;
  border-radius: 2px;
/*  text-transform: uppercase;*/
  background-color: $theme_button_background_color;
  color: $theme_button_font_color;
  border: 2px solid $theme_button_border_color;
	cursor: pointer;
}
button:hover {
  background-color: $theme_button_background_color_hover;
  color: $theme_button_font_color_hover;
  border: 2px solid $theme_button_border_color_hover;
}
input[type=text], input[type=email], input[type=password], input.text, textarea {
  background-color:$theme_input_background_color;
  color:$theme_input_font_color;
  border:1px solid $theme_input_border_colors;
  padding: 7px;
  font-size:$theme_font_size;
  resize: none;
  box-sizing:border-box;
  border-radius: 2px;
  outline: none;
}
input[type=checkbox], input[type=radio] {
  border: none;
  padding: 0px;
  margin: 3px 5px 0px 0px !important;
  width: auto;
  display: block;
  float: left;
}
[dir="rtl"] input[type=checkbox], [dir="rtl"] input[type=radio] {
	margin: 1px 0 0px 5px !important;
	float: right;
}
input[type=checkbox] + label, input[type=radio] + label {
  display: block;
  cursor: pointer;
}
textarea {
/*  width: 400px;*/
  resize: none;
}
textarea.codebox {
  width: 95%;
  min-height: 200px;
  font-family: courier new, courier, serif;
}
select {
  background-color:$theme_input_background_color;
  color:$theme_input_font_color;
  border:1px solid $theme_input_border_colors;
  padding: 6px 0px 6px 1px;
  font-size: 10pt;
  max-width: 205px;
  box-sizing: border-box;
  border-radius: 2px;
  width: auto;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 $theme_input_font_color;
}
select option {
  padding: 0px 10px 0px 3px;
}
html[dir="rtl"] select option {
  padding: 0px 3px 0px 10px;	
}
a.buttonlink {
  display: inline-block;
  font-size:$theme_font_size;
  line-height: normal;
}
a.buttonlink_right {
  display: inline-block;
}
.quicklinks a:after,
#profile_options ul li a:after {
 content: " ";
}
br.multi-text-separator {
  margin-bottom: 8px;
}


/*COMMENTS
These styles are used everywhere comments appear.*/
.comments > ul {
  overflow: hidden;
  clear: both;
}
.comments > ul > li {
  background-color:$theme_commentlist_background_color;
  background-image: none;
  padding: 5px 10px;
  overflow: hidden;
}
.comments ul ul > li {
  display: inline-block;
  vertical-align: middle;
}
.comments .comments_author a {
  font-weight: bold;
  margin-right: 2px;
}
[dir="rtl"] .comments .comments_author a {
	margin-left: 2px;
	margin-right: 0px;	
}
.comments .comments_author_photo {
  float: left;
  overflow: hidden;
  line-height: 0px;
  font-size: 0px;
}
[dir="rtl"] .comments .comments_author_photo {
	float: right;	
}
.comments .comments_author_photo img {
  display: block;
}
.comments .comments_options {
  font-weight: bold;
  font-size:$theme_font_size;
  color:$theme_font_color_light;
  margin-bottom: 6px;
}
.comments .comments_comment_options > a {
  font-size:$theme_font_size;
  font-weight: bold;
  margin-top: 5px;
  overflow: hidden;
}
.comments .comments_info {
  font-size:$theme_font_size;
  padding-top: 0px;
  padding-left: 10px;
  overflow: hidden;
}
[dir="rtl"] .comments .comments_info {
	padding-right: 10px;
	padding-left: 0px;	
}
.comments .comments_date {
  font-size: 12px;
  color:$theme_font_color_light;
  overflow: hidden;
}
.comments .comments_date li a:hover {
  color:$theme_link_color;
  text-decoration: underline;
}
.comments .comments_likes,
.comments .comments_viewall {
 font-size:$theme_font_size;
}
.comments > form {
  background-image: none;
  border: none;
  padding: 5px 10px 5px 5px;
  border-top:1px solid $theme_foreground_border_color;
}
[dir="rtl"] .comments > form {
	padding: 5px 5px 5px 10px;	
}
.comments > form > textarea {
  width: 100%;
}
.comments > form > button {
  display: block;
  margin-top: 7px;
}
.comments .activity-comment-form textarea {
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  margin-bottom: 5px;
}
div.comments_comment_likes_tips {
  border:1px solid $theme_foreground_border_color;
  padding: 4px 7px;
  background-color:$theme_foreground_background_color;
  color:$theme_font_color_light;
  font-size: 0.9em;
}
/*User profile page tabs, profile photo, buttons on cover photo and pulldowns*/
/*
TABS (TAB STYLE, NON-DEFAULT)
*/
.tabs_alt {
  background-color: $theme_tabs_background_color;
  background-image: none;
  margin: -8px 0 10px;
  padding: 0px;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.tabs_alt > ul {
  margin: 0px;
  text-align: left;
  border-bottom:1px solid $theme_tabs_border_color;
	display: inline-table;
	width: 100%;
}
[dir="rtl"] .tabs_alt > ul {
	text-align: right;	
}
.tabs_alt > ul > li {
  display: inline-block;
  padding: 0px;
  *display:inline; /* fix for IE7 */
}
.tabs_alt > ul > li.active {
  position: relative;
  background-image: none;
}
div .tabs_alt > ul > li > a {
	display: block;
	outline: medium none;
	padding: 8px 12px;
	text-decoration: none;
	text-transform: uppercase;
	color: $theme_tabs_font_color;
	border-bottom: 2px solid transparent;
	font-family: $allure_fonts_tab_font_family;
	font-size: $allure_fonts_tab_font_size;
}
.tabs_alt > ul > li > a span {
  font-weight: normal;
  margin-left: 7px;
  border: none;
  color:$theme_tabs_font_color_active;
}
[dir="rtl"] .tabs_alt > ul > li > a span {
	margin-right: 7px;
	margin-left: 0px;	
}
.tabs_alt > ul > li.active > a,
.tabs_alt > ul > li > a:hover {
  color:$theme_tabs_font_color_hover;
}
.tabs_alt > ul > li.active > a{
border-bottom:2px solid $theme_tabs_border_color_hover;
}
div.tabs_alt > ul > li.active > a:hover {
  background-color:$theme_tabs_background_color_active;
  color:$theme_tabs_font_color_active;
}
.tab_container_inactive {
  display: none;
}
.tabs_alt > ul > li.tab_open > a {
  background-color:$theme_pulldown_background_color_active;
  color:$theme_pulldown_font_color_active;
  position: relative;
  top: 1px;
  /*padding: 5px 6px;*/
}
.tab_pulldown_contents_wrapper {
  display: none;
  overflow: hidden;
  position: absolute;
  padding: 2px;
  margin-top: 53px;
  background-color:$theme_pulldown_border_color;
  z-index: 13;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
}
.tab_pulldown_contents {
  overflow: hidden;
  background:$theme_pulldown_contents_background_color;
  max-height: 500px;
  overflow-y: auto;
}
.tab_pulldown_contents > ul > li {
  padding: 7px;
  font-size: .9em;
  min-width: 100px;
  max-width: 250px;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.tab_pulldown_contents > ul > li.active {
  background-color:$theme_pulldown_contents_list_background_color_active;
}
.tab_pulldown_contents > ul > li + li {
  border-top:1px solid $theme_border_color;
}
.tab_pulldown_contents > ul > li:hover {
  background-color:$theme_pulldown_contents_list_background_color_hover;
  cursor: pointer;
}
.tabs_alt > ul > li.tab_open .tab_pulldown_contents_wrapper {
  display: block;
  border: none;
}
.tabs_alt > ul > li .seaocore_tab_icon {
  margin-top: 5px !important;
}
.tabs_alt > ul > li div.seaocore_tab_select_view_tooltip {
  margin-top: -25px;
}
html li.seaocore_tab_open .tab_pulldown_contents_wrapper{
  width:auto;
  margin-top:40px;
}
html li.seaocore_tab_open .tab_pulldown_contents{
  width:auto;
  max-width:170px;
}
div .seaocore_tab_open ul li a, div .seaocore_tab_open ul li a:hover, div .seaocore_tab_open ul li.active > a {
	padding: 8px 5px !important;
}

/*HEADLINE
Used at the top of most browse pages. Often contains button-style tabs.*/
.generic_layout_container .headline {
	margin: 0;
	padding: 0;
}
.headline {
  +foreground;
  overflow: hidden;
  margin-bottom: 15px;
  margin-top:10px;
  padding: 15px;
	
}
.headline h2, .headline h2 a {
/*	color: $theme_font_color;*/
	display: inline-block;
	font-size: 22px;
	margin-bottom: 0;
	margin-left: 10px;
	margin-right: 20px;
	vertical-align: middle;
}
[dir="rtl"] .headline h2, [dir="rtl"] .headline h2 a {
	margin-right: 10px;
	margin-left: 20px;	
}
.headline h2 a{
	margin:0;
	float:left;	
}
[dir="rtl"] .headline h2 a{
	float: right;	
}
.headline .tabs > ul > li > a {
	color: $theme_font_color;
	padding: 2px 0;
}

/* TABS (BUTTON STYLE, DEFAULT) */
.tabs {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
.tabs > ul {
  display: inline-block;
  vertical-align: middle;
}
.tabs > ul > li {
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
}
[dir="rtl"] .tabs > ul > li {
	margin-left: 15px;
	margin-right: 0px;	
}
.tabs > ul > li > a {
  display: inline-block;
  color:$theme_buttontabs_font_color;
  padding: 10px 5px;
  font-size:$theme_buttontabs_font_size;
}
.tabs > ul > li > a:hover {
  color:$theme_buttontabs_font_color_hover;
}
.tabs > ul > li.active > a {
  border-bottom:2px solid $theme_tabs_border_color_hover;
  color: $theme_buttontabs_font_color_active;
}
.tabs > ul > li.active > a:hover {
  color:$theme_buttontabs_font_color_hover;
}

/*PULLDOWN SELECT BOX
Styles the inline pulldown select popup box that is used
as an alternative to regular input select boxes in some places.*/
.pulldown > a,
.pulldown_active > a {
  display: inline-block;
  font-weight: bold;
  padding: 5px 7px 5px 18px;
  background-position: 6px 5px;
  outline: none;
  font-size:$theme_font_size;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-image: url(~/application/modules/Allure/externals/images/more.png);
  background-repeat: no-repeat;
}
[dir="rtl"] .pulldown > a,
[dir="rtl"] .pulldown_active > a{
	padding: 5px 18px 5px 7px;	
}
.pulldown > a {
  +rounded(4px);
  background-color:$theme_pulldown_background_color;
  text-decoration: none;
}
.pulldown > a:hover {
  background-color:$theme_pulldown_background_color_hover;
}
.pulldown_active > a {
  +rounded(4px, false, false, true, true);
  background-color:$theme_pulldown_background_color_active;
  color:$theme_pulldown_font_color_active;
  text-decoration: none;
  background-image: url(~/application/modules/Allure/externals/images/more_active.png);
}
.pulldown_contents_wrapper {
  display: none;
  border-radius: 3px;
  overflow: hidden;
  position: absolute;
  width: 300px;
  max-width: 300px;
  padding: 4px;
  background:$theme_pulldown_contents_background_color;
  z-index: 99;
  margin-top: 22px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.pulldown_active .pulldown_contents_wrapper {
  display: block;
}
.pulldown_contents {
  overflow: hidden;
  background:$theme_pulldown_contents_background_color;
  max-height: 500px;
  overflow-y: auto;
}
.pulldown_contents ul > li {
  padding: 5px 15px 5px 5px;
  font-size:$theme_font_size;
  -moz-user-select: none;
  -webkit-user-select: none;
}
[dir="rtl"] .pulldown_contents ul > li {
	padding: 5px 5px 5px 15px;
}
.pulldown_contents ul > li + li {
  border-top:1px solid $theme_border_color;
}
.pulldown_contents ul > li:hover {
  background-color:$theme_pulldown_contents_list_background_color_hover;
  cursor: pointer;
}
.pulldown_options {
  margin: 4px 0px;
}
.pulldown_options a {
  color:$theme_pulldown_font_color_active;
  font-size:$theme_font_size;
  padding: 3px;
  margin-right: 3px;
}
[dir="rtl"] .pulldown_options a {
  margin-right: 0;
  margin-left: 3px;
}

/*GLOBAL FORM RESPONSES
Used to show feedback from form submissions, i.e.
error/result messages.*/
ul.form-errors, ul.form-notices {
  margin: 0px 0px 20px 0px;
  overflow: hidden;
}
* + ul.form-errors,
* + ul.form-notices {
  margin-top: 20px;
}
ul.form-errors > li,
ul.form-notices > li {
 	+rounded;
  margin: 7px 5px;
  padding: 5px 15px 5px 32px;
  background-repeat: no-repeat;
  background-position: 8px 5px;
  float: left;
  clear: left;
  overflow: hidden;
  border:1px solid $theme_border_dark_color;
}
[dir="rtl"] ul.form-errors > li,
[dir="rtl"] ul.form-notices > li{
padding: 5px 32px 5px 15px;
float: right;
	clear: right;
}
ul.form-errors > li > b,
ul.form-notices > li > b {
  text-transform: uppercase;
  font-size:$theme_font_size;
}
ul.form-errors > li > ul > li,
ul.form-notices > li > ul > li {
  font-size: 1em;
  font-weight: bold;
}
ul.form-errors > li {
  background-image:url(~/application/modules/Allure/externals/images/error.png);
  border:1px solid $theme_border_medium_color;
}
ul.form-notices > li {
  background-image:url(~/application/modules/Allure/externals/images/notice.png);
  background-color: #e9faeb;
  border: none;
}

/*
PULLDOWN SELECT BOX FOR UPDATES
Styles the inline pulldown select popup box used for updates that is used
as an alternative to regular input select boxes in some places.
*/
.updates_pulldown > a,
.updates_pulldown_active > a {
  display: block;
  color:$theme_topbar_minimenu_link_color;
  font-weight: bold;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid $theme_topbar_minimenu_link_color;
  border-radius: 25px;
}
.updates_pulldown > a {
  display: block;
  font-weight: bold;
  padding: 8px;
  outline: none;
}
/*.updates_pulldown > a.new_updates {
  background: #FF5F3F;
  color: #fff;
}*/
/*.updates_pulldown > a.new_updates:hover {
  background: #e45656;
  color: #fff;
}*/
/*.updates_pulldown > a:hover {
  background: transparent;
  color:$theme_topbar_minimenu_link_hover_color;
  text-decoration:$theme_topbar_minimenu_link_hover_decoration;
}*/
/*.updates_pulldown_active > a {
  background-color:$theme_pulldown_background_color_active;
  color:$theme_pulldown_font_color_active;
  text-decoration:$theme_topbar_minimenu_link_hover_decoration;
}*/
.updates_pulldown_active .pulldown_contents_wrapper {
  display: block;
	margin-top: 54px;
}
#core_menu_mini_menu .seocore-pulldown-header {
  border-color:$theme_border_medium_color;
}
#core_menu_mini_menu .seocore-pulldown-footer {
  background-color:$theme_layout_background_color;
}
#core_menu_mini_menu .aaf_update_pulldown_content,
#core_menu_mini_menu .aaf_update_pulldown_content a {
  font-weight: normal;
}

/*
TAGS
Styles lists of tags that are used for message recipients, lists of friend
lists, etc. Each tag has its own remove link.
*/
.tag {
  +rounded(3px);
  display: inline-block;
  background-color:$theme_tag_background_color;
  float: left;
  padding: .4em .6em .4em .6em;
  margin: 0px 10px 5px 0px;
  font-size:$theme_font_size;
  border:1px solid $theme_border_medium_color;
}
[dir="rtl"] .tag {
	float: right;
	margin: 0px 0px 5px 10px;	
}
.tag > a {
  text-decoration: none;
  padding-left: 6px;
  text-transform: uppercase;
}
[dir="rtl"] .tag > a {
	padding-right: 6px;
	padding-left: 0px;
}

/*
LARGE BOX FORM
These styles are for large forms that are given an exclusive page.
They are not intended for smaller forms that are embedded elsewhere.
Examples:Signup form, member settings form, etc.
*/
/* form container */
.global_form {
  clear: both;
  overflow: hidden;
  margin-top: 15px;
/*  border:1px solid $theme_border_color !important;
  margin-top: 15px;
  padding: 15px;
	+foreground;*/
}
/* external form border */
.global_form > div {
  overflow: hidden;
}
/* internal form border */
.global_form > div > div {
  padding: 15px;
+foreground;
  overflow: hidden;
  border-radius: 2px;
  box-sizing: border-box;
}
.global_form > div > div > .form-elements {
	max-width: 900px;
}
/* form headline */
.global_form div.form-wrapper-heading {
  font-weight: bold;
  border-bottom:1px solid $theme_foreground_border_color_light;
  margin-bottom: 15px;
  font-size:$theme_headline_size_medium;
  text-transform: uppercase;
}
.global_form div.form-wrapper-heading > span {
  display: block;
/*  position: absolute;*/
  overflow: hidden;
/*  padding: 4px 6px 4px 0px;*/
  background:$theme_form_background_color;
}
.global_form div.form-wrapper + div.form-wrapper-heading {
  margin-top: 10px;
}
/* form instructions (after title) */
.global_form > div > div > h3 + p {
  padding: 10px 0;
  margin-top: 2px;
  width: auto;
  line-height: 140%;
  max-width:inherit;
}
/* add some space above form elements if title/instructions precede */
.global_form > div > div > h3 + div, .global_form > div > div > h3 + p + div {
  margin-top: 20px;
/*  padding: .7em;*/
}
/* container row for a label (left) and element (right) */
.global_form div.form-wrapper {
  clear: both;
  overflow: hidden;
}
/* left-side element label container */
.global_form div.form-label {
  width: auto;
  min-width: 70px;
  text-align: left;
  padding: 4px 10px 0 0;
  margin-bottom: 10px;
  overflow: hidden;
  float: left;
  clear: left;
  font-size:$theme_font_size;
  color:$theme_form_label_font_color;
  box-sizing: border-box;
}
[dir="rtl"] .global_form div.form-label {
	padding: 4px 0 0px 10px;
	float: right;
	clear: right;
	text-align: left;
}
/* right-side form element container */
.global_form div.form-element {
  min-width: 150px;
  text-align: left;
  margin-bottom: 15px;
  overflow:hidden; 
  float: left; 
  clear: both;
  width: 100%;
  box-sizing: border-box;
/*  max-width:850px;*/
}
[dir="rtl"] .global_form div.form-element {
	text-align: right;
	float: right;	
}
/* all paragraphs of text in the form */
.global_form div > p {
  padding: 10px 0;
  max-width: 450px;
}
/* paragraphs of text that come after an input element */
.global_form div > input + p {
  margin-top: 3px;
  font-size:$theme_font_size;
}
.global_form div > input + p.hint {
	opacity: .6;
	margin-top: 0;
	max-width: 450px;
}
.global_form div > p.hint {
	clear: both;
}
/* all text inputs in form */
.global_form input[type=text],
.global_form input[type=email],
.global_form input[type=password] {
  padding: 8px 5px;
  font-size:$theme_font_size;
  width: 100%;
}
.global_form input[type=text]:focus,
.global_form input[type=email]:focus,
.global_form input[type=password]:focus {
  border:1px solid $theme_button_background_color;
}
/* only for text inputs that come after other text inputs */
/* i.e. for when there is a vertical list of text inputs */
.global_form input[type=text] + input[type=text] {
  display: block;
  margin-top: 5px;
}
/* all checkboxes and radios in form */
.global_form input[type=checkbox],
.global_form input[type=radio] {
  clear: left;
}
/* for clickable labels that appear to the right of elements */
/* such as checkboxes or radios */
.global_form input + label {
/*  display: block;
  margin-top: 0px;*/
  margin-left: 2px;
/*  float:left;
  max-width: 93%;*/
/*  line-height: normal;*/
	line-height: normal;
}
[dir="rtl"] .global_form input + label {
	margin-right: 2px;
	margin-left: 0px;	
}
/* all select boxes in form */
.global_form select {
  padding: 6px 5px;
  font-size:$theme_font_size;
}
.global_form div.form-element select:first-child {
  width: 100%;
  max-width: 100%;
}
/* all textareas in form */
.global_form textarea {
  padding: 4px;
  font-size: 10pt;
  max-width: 100%;
  min-height: 120px;
  width: 100%;
  max-width: 100%;
}
.global_form textarea:focus {
  border:1px solid $allure_theme_primary_color;
}
.global_form p.description {
  margin: 7px 0px 10px 0px;
  padding: 0px;
  font-size:$theme_font_size;
  color:$theme_font_color_light;
}
.global_form #submit-element {
  margin-bottom: 0px;
}
.global_form button[type=submit] {
  margin-right: 3px;
}
[dir="rtl"] .global_form button[type=submit] {
 margin-left: 3px;
 margin-right: 0px;	
}
.global_form > form.global_form {
	border: 0 none;
	margin: 0;
	padding: 0;
}

/*filters on inner pages*/
form.filters div.form-label {
  margin-bottom: 3px;
  font-size:$theme_font_size;
}
form.filters div.form-element {
  margin-top: 2px;
}
form.filters button {
  margin-top: 4px;
}
form.filters dt {
  font-size:$theme_font_size;
  padding-bottom: 2px;
}
form.filters dd {
  margin-bottom: 8px;
}

/*Search result page*/
#searchform {
  float: left;
  clear: right;
  padding: 5px;
}
[dir="rtl"] #searchform {
 float: right;
	clear: left;
}
#searchform input[type=text] {
  width: 300px;
  padding: 8px 5px;
}
#searchform select {
  padding: 6px 5px;
  border-radius: 0;
}
#searchform #query-label {
  display: none;
}
#searchform #query-wrapper {
  float: left;
  overflow: hidden;
  padding: 3px;
}
[dir="rtl"] #searchform #query-wrapper {
	float: right;	
}
#searchform #submit-label {
  display: none;
}
#searchform #submit-wrapper {
  float: left;
  overflow: hidden;
  margin-left: 1px;
}
[dir="rtl"] #searchform #submit-wrapper {
 float: right;
 margin-right: 1px;
 margin-left: 0px;	
}
.search_result {
  overflow: hidden;
  margin-top: 10px;
  border-top-width: 1px;
  padding-top: 10px;
}
.search_result .search_photo {
  display: block;
  float: left;
  overflow: hidden;
  margin-right: 7px;
}
[dir="rtl"] .search_result .search_photo {
	float: right;
	margin-left: 7px;
	margin-right: 0px;	
}
.search_result .search_icon {
  display: block;
  float: left;
  overflow: hidden;
  width: 48px;
  margin-right: 7px;
}
[dir="rtl"] .search_result .search_icon {
	float: right;
	margin-left: 7px;
	margin-right: 0px;	
}
.search_result img {
  margin: auto;
  display: block;
}
.search_result .search_info {
  display: block;
  overflow: hidden;
}
.search_result .search_title {
  font-size:$theme_font_size;
}
.search_result .highlighted-text {
  font-weight: bold;
}
.global_form_box {
 	+foreground;
 	+rounded;
  padding: 10px;
  width: auto;
}
.global_form_box .form-wrapper + .form-wrapper {
  margin-top: 15px;
}
.global_form_box .form-label {
  padding: 0px;
  width: auto;
  float: none;
  clear: both;
  margin: 0px;
}
.global_form_box label {
  text-align: left;
  display: block;
  font-size:$theme_font_size;
  margin-bottom: 2px;
}
[dir="rtl"] .global_form_box label {
	text-align: right;	
}
.form-label .required::after {
    content: ' *';
    color: #f00;
}
.global_form_box .form-element {
  overflow: hidden;
}
.global_form_popup {
  padding: 10px 10px 10px 13px;
  overflow: hidden;
}
[dir="rtl"] .global_form_popup {
	padding: 10px 13px 10px 10px;	
}
.global_form_popup #submit-wrapper,
.global_form_popup #cancel-wrapper {
  float: left;
  overflow: hidden;
}
[dir="rtl"] .global_form_popup #submit-wrapper,
[dir="rtl"] .global_form_popup #cancel-wrapper{
	float: right;	
}
.global_form_popup #buttons-wrapper {
  margin-top: 10px;
}
.global_form_popup #buttons-wrapper button {
  margin-right: 4px;
}
[dir="rtl"] .global_form_popup #buttons-wrapper button {
	margin-left: 4px;
	margin-right: 0;	
}
.global_form_popup_message {
  display: block;
  padding: 1em;
  text-align: center;
  font-weight: bold;
}
[dir="rtl"] .global_form_popup_message {
  text-align: center;
}
html .seaocore_popup_options_right input[type="text"]{
  width:91%;
}
#form-upload #submit-wrapper {
  display: none;
}
#form-upload #demo-status a.buttonlink {
  margin-right: 15px;
}
[dir="rtl"] #form-upload #demo-status a.buttonlink {
	margin-left: 15px;
	margin-right: 0px;
}


/*-------------OVERRIDES FOR PARTICULAR WIDGETS--------------*/
/*Background color on Containers Css start from here*/
.layout_right > div,
.layout_left > div,
.layout_middle > div,
.notifications_leftside,
.notifications_rightside {
	background-color: $theme_foreground_background_color;
  	padding: 15px;
	margin-bottom: 15px;
	box-sizing: border-box;
	/*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);*/
	border-radius: 2px;
}
div .layout_siteusercoverphoto_user_cover_photo {
	padding: 0;
	width: 100%;
}
.layout_activity_feed ul.feed > li {
  margin-bottom: 5px;
  padding: 10px;
}
#activity-feed > li, ul.feed > li,
.layout_advancedactivity_on_this_day,
 .layout_advancedactivity_greeting,
.aaf_feed_box_container #activity-post-container,
.aaf_feed_box_container #aaf-twitter-post-container,
.aaf_feed_tip,
.aaf_tabs_feed,
.aaf_feed_loading {
	background-color: $theme_foreground_background_color;
	border-radius: 4px !important;
}
.aaf_feed_box_container #activity-post-container > form#activity-form,
.aaf_feed_box_container #aaf-twitter-post-container {
	border-radius: 0 0 4px 4px;
}
[dir="rtl"] .aaf_feed_box_container #activity-post-container > form#activity-form,
[dir="rtl"] .aaf_feed_box_container #aaf-twitter-post-container {
	border-radius: 4px 4px 0 0;
}
.aaf_tabs > ul.aaf_tabs_apps {
	border-radius: 4px 4px 0 0;
}
[dir="rtl"] .aaf_tabs > ul.aaf_tabs_apps {
	border-radius: 0 0 4px 4px;
}
.layout_advancedactivity_home_feeds  > h3 {
	padding: 15px;
	margin-bottom: 0;
}
/*.aaf_feed_box_container #activity-post-container.adv_post_container_activator_buttons {
	border-top: 0;
}*/

/* Core AAF */
.layout_activity_feed {
	background: transparent !important;
	padding: 0 !important;
}
.layout_activity_feed > h3 {
	padding: 15px !important;
	border-radius: 3px;
}
div.generic_layout_container.layout_seaocore_layout_width,
div.generic_layout_container.layout_seaocore_scroll_top {
  background: transparent;
  padding:0;
}

/* Seacocore browse button */
div.seao_browse_btn ul.navigation::after {
	border-bottom-color: $theme_foreground_background_color;
}

/* Advanced search form*/
.browsemembers_criteria {
  background-color:$theme_layout_background_color;
  font-size:$theme_font_size;
}
.browsemembers_criteria input + label {
	font-size: 12px;
}
.browsemembers_criteria > ul > li {
	font-size:$theme_font_size;
}
.browsemembers_criteria > ul > li > span {
	margin-bottom: 4px;
}
.browse-separator-wrapper {
	border: none;
}
.browsemembers_criteria button {
  margin-top: 20px;
  width: 100%;
}

/* For search filter form*/
#filter_form,
form.filters {
  padding: 0;
  font-size:$theme_font_size;
}
#filter_form label {
  font-size:13px;
  margin-bottom: 4px;
}
.layout_left #filter_form .form-wrapper + .form-wrapper, .layout_right #filter_form .form-wrapper + .form-wrapper,
.layout_left #filter_form.global_form_box ul > li + li, .layout_right #filter_form.global_form_box ul > li + li,
.layout_left .field_search_criteria.global_form_box ul > li + li, .layout_right .field_search_criteria.global_form_box ul > li + li,
.layout_left #filter_form.global_form_box li.browse-range-wrapper, .layout_right #filter_form.global_form_box li.browse-range-wrapper,
.layout_left .field_search_criteria.global_form_box li.browse-range-wrapper, .layout_right .field_search_criteria.global_form_box li.browse-range-wrapper {
  margin-top: 12px !important;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0 !important;
}
html .seaocore_searchform_criteria_advanced ul > li:nth-child(2) input[type="text"],
html .seaocore_searchform_criteria_advanced ul > li:nth-child(3) input[type="text"],
html .seaocore_searchform_criteria_advanced ul > li:nth-child(4) select {
 font-size:14px;
}
.field_search_criteria input[type="text"],
.field_search_criteria input.text,
.field_search_criteria select {
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
}
.field_search_criteria .browse-range-wrapper select,
#filter_form .browse-range-wrapper input[type="text"] {
	width: 48%;
}
form.filters dt {
	margin-top: 12px;
	padding-bottom: 0;
	margin-bottom: 4px;
}

/* For user profile photos and related links( quicklinks) */ 
.layout_core_statistics ul > li span {
  font-size: 1.3em;
}
.layout_user_profile_photo {
  margin-bottom: 15px;
  overflow: hidden;
}
.layout_user_home_photo > div,
#profile_photo,
[dir="rtl"] .layout_user_home_photo > div,
[dir="rtl"] #profile_photo {
  text-align: center;
}
.layout_user_profile_info > h3 {
  font-weight: normal;
  font-size:$theme_headline_size_medium;
}
.layout_user_profile_info > ul > li {
  font-size:$theme_font_size;
}
#profile_options {
  margin-bottom: 15px;
}
.layout_user_home_links .quicklinks{
	margin-bottom:0;
}
.layout_user_home_links .quicklinks li,
div#profile_options li {
  padding: 5px 1px;
  text-align: left;
  background-color:transparent;
  border-radius: 0;
  margin-bottom:4px;
  letter-spacing:0.3px
}
[dir="rtl"] .layout_user_home_links .quicklinks li, 
[dir="rtl"] div#profile_options li{
	text-align: right;	
}
.layout_user_home_links .quicklinks li:hover,
#profile_options li:hover {
  background-color: transparent;
  border-radius: 0;
}
.layout_user_home_links .quicklinks li + li,
#profile_options li + li, .quicklinks li:first-child,  
#profile_options .navigation li:first-child {
  border-top-width: 0px;
  padding-top: 6px;
  border-bottom:1px solid $theme_border_color;
  margin-top: 0;
}
.layout_user_home_links .quicklinks li:last-child,
 #profile_options li:last-child {
  border-bottom: none;
}
.layout_user_home_links .quicklinks li a,
#profile_options li a {
  background-image: none!important;
  padding-left: 0;
  color:$theme_font_color;
  line-height:200%;
  display:block;
}
[dir="rtl"] .layout_user_home_links .quicklinks li a,
[dir="rtl"] #profile_options li a {
  padding-right: 0;
}
.layout_user_home_links .quicklinks li a:hover,
#profile_options li a:hover {
  color:$theme_link_color_hover;
 }
/*quicklinks*/
 .quicklinks li {
  text-align: center;
  background-color:$theme_button_background_color;
  border-radius: 3px;
  padding:4px 8px;
}
.quicklinks li:hover {
  background-color:$theme_button_background_color_hover;
}
.quicklinks li + li {
  margin-top: 8px;
}
.quicklinks a {
  background-image: none;
  color: #fff;
  padding-left: 0;
  line-height:20px;
}
[dir="rtl"] .quicklinks a{
  padding-right: 0;
}

/*Cover Photo*/
div.seaocore_profile_cover_has_tabs div.tabs_alt > ul > li, div.seaocore_profile_cover_has_tabs div.tabs_alt > ul > li.active {
	margin-bottom:2px;
}
.layout_top .layout_middle {
	overflow: visible;
}
	/*Transparent outer tabbed*/
.trans_cover_temp {
  background-color: $theme_body_background_color;
}
.trans_cover_temp .seaocore_profile_coverinfo_buttons .seaocore_like_button a i {
  margin-right: 0;
}
[dir="rtl"] .trans_cover_temp .seaocore_profile_coverinfo_buttons .seaocore_like_button a i {
  margin-left: 0;
}
div.transparent_cover_temp .seaocore_profile_coverinfo_buttons > div .layout_sitelike_commoncover_like_button {
  margin-top: -4px;
}
	/*Collage template Tabs*/
div.collage_image_temp_tabs.layout_core_container_tabs div.tabs_alt {
  margin-top: -72px;
}
div.collage_mid_content_details .seaocore_profile_coverinfo_buttons > div .layout_sitelike_commoncover_like_button {
  margin-top: 0;
}
div.seaocore_profile_fullwidth_cover_photo .collage_mid_content_details .layout_sitelike_commoncover_like_button > div.seaocore_like_button > a {
  padding: 5px 10px !important;
}
.sc_cover_template_2 .temp_cover_options .edit-button,
.sc_cover_template_3 .temp_cover_options .edit-button {
  top: 30px;
}

/* Notification page */
.notifications_leftside {margin-right:15px;}
[dir="rtl"] .notifications_leftside { margin-left:15px; margin-right:0px;}

/* For popups on the coupons page share and report in no logged in case */
#global_content_simple #facebook-label, 
#global_content_simple #twitter-label {
	display: none;
}

/* Core main menu */
.layout_core_menu_main {
	float: left;
	margin: 10px 0 0 0;
	width: 100%;
	border-radius: 3px;
	background-color: $theme_topbar_menu_background_color;
}
[dir="rtl"] .layout_core_menu_main {
	float: right;	
}
.layout_core_menu_main li {
	display: inline-block;
	padding: 8px 12px;
}
.layout_core_menu_main li > a {
	line-height: 30px;
	text-transform: uppercase;
	font-size: $allure_fonts_mainmenu_font_size;
}
.layout_core_menu_main .navigation > li a:link,
.layout_core_menu_main .navigation > li a:visited {
   color: $theme_topbar_menu_link_color;
   text-decoration: $theme_topbar_menu_link_decoration;
}
.layout_core_menu_main .navigation > li > a:hover {
  color:$theme_topbar_menu_link_hover_color;
}

/* Advanced main menu */
div.layout_sitemenu_menu_main {
/*	display: inline;*/
	width: 100%;
	vertical-align: middle;
}
div.sitemenu_main_menu_wrapper {
  margin: 0;
	border-radius: 3px;
}
.sitemenu_main_menu > li a {
	font-family: $allure_fonts_mainmenu_font_family;
}
.sitemenu_main_menu > li > a {
	/*font-size: 14px;*/
	font-size: $allure_fonts_mainmenu_font_size;
	font-weight: normal !important;
}
/*#global_header.fixed .sitemenu_main_menu_wrapper {
	width: 100%;
}*/
.sitemenu_main_menu > li + li::before {display: none;}

/* Back to top button */
a.seaocore_up_button, a.seaocore_up_button span {	background-color: $allure_theme_primary_color;	border-radius: 50%;opacity: 1;}
a.seaocore_up_button {border: medium none;}
a.seaocore_up_button span {border: 2px solid $theme_border_color;}

/*Horizontal Carausal*/
.layout_sitevideo_channel_carousel h3 a, .layout_sitevideo_video_carousel h3 a, h3.channel_slide_cat_title > a:last-child {color:$theme_link_color_hover;}

/*Videos Button in Header*/
div.layout_page_header .layout_sitevideo_post_new_video .button {margin:12px 14px 0 !important; padding: 4px 10px !important;}

/*videos play button*/
div .sitevideo_home_featured_video_play > a::before {top: 45px;}

/* Removed the user profile icon and title from quick links widget placed at home page in left side bar */
.home-links-user {
    display: none;
}

/* Plugins buttons hover */
a.sitevideo_buttonlink:hover,
span.button a:hover,
a.button:hover,
.sitemember_complement_me:hover {
	background-color:$theme_button_background_color_hover !important;
}

/* Emotion box */
#emoticons-button .seaocore_embox {
  background-color: $theme_foreground_background_color;
  border-color: $theme_border_color;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
}
#emoticons-button .seaocore_embox > .seaocore_embox_title {
  color: $theme_font_color;
  border-color: $theme_border_dark_color;
}
#emoticons-button .seaocore_embox > span.seaocore_embox_icon {
  border-color: $theme_border_dark_color;
}
#emoticons-button .seaocore_embox_arrow {
  display: none;
}

/* For the tooltip visible on hover of the privacy and other icons*/
p.adv_item_privacy_tip {left:auto; right:-5px; top:-33px;}
[dir="rtl"] p.adv_item_privacy_tip {left: -5px; right:auto;}
p.adv_item_privacy_tip img {right:5px; left:auto; margin:0, bottom:-9px;}
[dir="rtl"] p.adv_item_privacy_tip img {left: 5px; right:auto;}
.tip_main_body_stat {clear:both;}

/* TB Window popups */
#TB_window {
	border: none;
/*	overflow: hidden;*/
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
}
#TB_iframeContent {border-radius: 5px;}
#TB_window .global_form { border:none !important;}
#TB_ajaxContent {box-sizing: border-box;}
/*#global_page_core-index-index #TB_ajaxContent {padding-bottom: 12px; box-sizing: content-box;}*/
#global_page_core-index-index .seao_smoothbox_lightbox_content_html iframe {width: 100%;}
#compose-menu {margin-top: 15px;}
#compose-menu a {margin-right: 10px;}
[dir="rtl"] #compose-menu a {margin-left:10px; margin-right: 0;}
#smoothbox_window h2 {padding: 10px;}
#smoothbox_window body {background-color:$theme_foreground_background_color;}

/* Twitter and Facebook Tooltip in share popup */
.composer_facebook_toggle:hover > .composer_facebook_tooltip,
.composer_twitter_toggle:hover > .composer_twitter_tooltip {right:0;}
[dir="rtl"] .composer_facebook_toggle:hover > .composer_facebook_tooltip
[dir="rtl"] .composer_twitter_toggle:hover > .composer_twitter_tooltip {left:0; right:auto;}

/* Sign in and Sign Up popup*/
#user_form_div_seaocore form {
  border: none;
  padding: 10px;
}
html .seao_smoothbox_lightbox_content {
  border-radius: 3px;
  background-color: $theme_foreground_background_color;
}
#user_form_div_seaocore form .form-elements .form-label{
	text-align:left;	
}
[dir="rtl"] #user_form_div_seaocore form .form-elements .form-label{
	text-align:right;	
}
.sitemenu_lightbox .headlinesitemenu {
	background: $allure_theme_primary_color;
}
#user_form_default_sea_lightbox.sitemenu_lightbox .navigation li,
.sitemenu_lightbox_options a.close::before {
	color: #fff;
}

/* Forum Widget*/
ul.forum_categories .forum_lastpost {width: 400px;}
div.forum_topic_title_options a {height: auto;}
.forum_topic_posts {margin-bottom: 20px;}
.forum_topic_posts > li:last-child {border-bottom:3px solid $theme_border_medium_color;}
#forum_post_quick #photo-wrapper {display: none;}

/* Siteevent */
/*.siteevent_create_host .form-element #host_info span,
.siteevent_create_host .host_cancel_link a,
.siteevent_create_host .host_cancel_link span{
  vertical-align:inherit;
}*/

/* Login page */
#user_form_login #remember-label,
#user_form_login #submit-label {display: none;}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){ 
.sitereview_advanced_search_form #fieldset-grp1 #has_photo-wrapper .form-element {margin-top:10px !important;}
}

/* SE Vertical main menu */
.global_left_panel #global_wrapper
{
  padding-top: 20px;
}
body.global_left_panel .layout_core_menu_main,
.global_left_panel .menu_core_main_tip
{
  background-color: $allure_theme_primary_color;
}
.global_left_panel .layout_page_header
{
  position: static;
}
body.global_left_panel .layout_core_menu_main
{
	width: 235px !important;
}
.global_left_panel .menu_core_main_tip:after
{
  border-right-color: $allure_theme_primary_color;
}
[dir="rtl"] .global_left_panel .menu_core_main_tip:after
{
  border-left-color: $allure_theme_primary_color;
  border-right-color: transparent;
}
.global_left_panel .scrollbars ul.scrollbar.vertical li.scroll.bar-wrapper
{
  padding-left:0;
  padding-right:0;
}
.global_left_panel .layout_page_header .layout_main .header-panel-toggle
{
  color: #fff;
}
.global_left_panel .layout_core_menu_main,
.global_left_panel .layout_core_menu_main .panel-toggle
{
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.global_left_panel .layout_sitemenu_menu_mini + .layout_core_menu_logo,
.global_left_panel .layout_siteadvsearch_menu_mini + .layout_core_menu_logo,
.global_left_panel .layout_core_menu_mini + .layout_core_menu_logo,
.global_left_panel .layout_sitemenu_menu_mini + .layout_core_menu_logo + .layout_sitemenu_menu_main,
.global_left_panel .layout_sitemenu_menu_mini + .layout_core_menu_logo + .layout_core_menu_main,
.global_left_panel .layout_core_menu_mini + .layout_core_menu_logo + .layout_core_menu_main,
.global_left_panel .layout_core_menu_mini + .layout_core_menu_logo + .layout_sitemenu_menu_main,
.global_left_panel .layout_siteadvsearch_menu_mini + .layout_core_menu_logo + .layout_core_menu_main,
.global_left_panel .layout_siteadvsearch_menu_mini + .layout_core_menu_logo + .layout_sitemenu_menu_main
{
  padding-top: 0;
}
.global_left_panel.panel-collapsed .layout_core_menu_main,
.global_left_panel.panel-collapsed .layout_core_menu_main .menu_core_main,
.global_left_panel.panel-collapsed .layout_core_menu_main .menu_core_main i,
.global_left_panel.panel-collapsed .layout_core_menu_main .panel-toggle
{
	width: 62px !important;
}


/*--------ALLURE THEME CSS-------------*/

/* Landingpage UI work */
#global_page_core-index-index #global_content {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	/*padding: 0;*/
}
#global_page_core-index-index span#global_content_simple {
	width: 100%;
}
#global_page_core-index-index #global_wrapper {
	padding-bottom:0;
	/*padding-top: 0;*/
}
/*#global_page_core-index-index .layout_top + .layout_main {
	width: 100%;
	max-width: 100%;
}*/
/*#global_page_core-index-index .layout_page_core_index_index > .layout_main {
	width: 100%;
}*/
#global_page_core-index-index .layout_page_core_index_index > .layout_main .layout_middle >  .generic_layout_container {
	max-width: $theme_content_width;
	margin-left: auto;
	margin-right: auto;
}
#global_page_core-index-index .layout_top + .layout_main {
	margin-top: 15px;
}
/*#global_page_core-index-index .layout_middle > .generic_layout_container {
	margin-left: 0;
	margin-right: 0;
	overflow: hidden;
	margin-top: 15px;
	margin-bottom: 15px;
}*/
#global_page_core-index-index .layout_top > .layout_middle > .generic_layout_container > h3 {
	border-bottom: 0;
	padding-bottom: 0;
	text-transform: capitalize;
	background: transparent;
	font-size: 22px;
	margin-bottom: 20px;
}
#global_page_core-index-index .layout_top > .layout_middle > .generic_layout_container:last-child {
	padding-bottom: 15px;
}
#global_page_core-index-index .generic_layout_container > h3 {

	font-weight: 400;
	
		text-align: center;
}
/*#global_page_core-index-index .layout_top + .layout_main .layout_middle .generic_layout_container:nth-child(even) {
	background-color: $theme_body_background_color !important;
	border-top: 1px solid $theme_border_color;
	border-bottom: 1px solid $theme_border_color;
}*/
/*#global_page_core-index-index .layout_sitemember_list_featured {
	padding-bottom: 0 !important;
}*/
#global_page_core-index-index .layout_top > .layout_middle > .generic_layout_container.layout_allure_stats_block,
#global_page_core-index-index .layout_top > .layout_middle > .generic_layout_container.layout_allure_highlights_block,
#global_page_core-index-index .layout_top > .layout_middle > .generic_layout_container.layout_allure_images,
#global_page_core-index-index .layout_top > .layout_middle > .generic_layout_container.layout_allure_text_banner,
#global_page_core-index-index .layout_top > .layout_middle > .generic_layout_container.layout_allure_app_promotion,
#global_page_core-index-index .layout_top > .layout_middle > .generic_layout_container.layout_allure_static_buttons,
#global_page_core-index-index .layout_top > .layout_middle > .generic_layout_container.layout_allure_our_services {
	width: 100% !important;
	max-width: 100% !important;
	margin-bottom: 0 !important;
	padding: 50px 0;
	border-radius: 0;
	margin-top: 0 !important;
}
/*#global_page_core-index-index .layout_allure_stats_block,
#global_page_core-index-index .layout_allure_highlights_block,
#global_page_core-index-index .layout_allure_images,
#global_page_core-index-index .layout_allure_text_banner,
#global_page_core-index-index .layout_allure_app_promotion,
#global_page_core-index-index .layout_allure_static_buttons,
#global_page_core-index-index .layout_allure_our_services {
width: 100% !important;
		margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding: 50px 0;
	border-radius: 0;
}*/
#global_page_core-index-index .layout_top .generic_layout_container.layout_allure_app_promotion {
	padding: 0 !important;
}
/*#global_page_core-index-index .layout_top > .layout_middle > [class*='layout_allure_'] + .generic_layout_container {
	margin-top: 15px;
	margin-bottom: 15px;
}*/
#global_page_core-index-index .layout_top > .layout_middle > .generic_layout_container {margin-top: 0 !important; margin-bottom: 0 !important; padding-top: 50px; padding-bottom: 50px;}
#global_page_core-index-index .layout_top > .layout_middle > .generic_layout_container:nth-child(odd) {
	background-color: $theme_body_background_color;
}
.layout_allure_our_services + .layout_allure_static_buttons,
.layout_allure_static_buttons + .layout_allure_our_services {
	border-top: 1px solid $theme_border_color;
	/*background-color: $theme_body_background_color;*/
}
#global_page_core-index-index .layout_sitealbum_list_popular_albums ul.thumbs {text-align: center;}
#global_page_core-index-index .layout_sitealbum_list_popular_albums ul.thumbs > li {float: none; display: inline-block;}

/* ---------ALLURE COLOR CONSTANT SETTING WORK --------*/
.layout_page_header,
.allure_top_header {
    background: $allure_top_header_background_color;
}
.layout_core_menu_logo a,
.layout_core_menu_logo a:hover,
.allure_footer_logo a {
  color: $allure_logo_font_color!important;
}

/* Allure theme main menu widget */
.allure_main_menu .navigation > li a {
    color: $theme_topbar_menu_link_color;
}
.allure_main_menu .navigation > li.more_link {
    border: 1px solid $theme_topbar_menu_link_color;
}
.allure_main_menu .navigation > li.more_link span {
    background: $theme_topbar_menu_link_color;
}
.allure_main_menu .navigation li.active > a, .allure_main_menu .navigation > li a:hover {
    color: $allure_main_menu_hover_active_color;
}
.allure_main_menu .navigation > li.more_link:hover {
    border-color: $allure_main_menu_hover_active_color;
}
.allure_main_menu .navigation > li.more_link:hover span {
    background: $allure_main_menu_hover_active_color;
}

/* Allure Footer */
.layout_page_footer {
	background-color: $theme_footer_background_color;
}
.allure_footer_desc,
.allure_footer_content_inner ul > li > a,
.layout_allure_menu_footer .tip span,
.allure_footer_bottom_block_inner span,
.allure_footer_content_block .social_connect ul > li > a i,
.allure_footer_bottom_block .social_connect ul > li > a i {
	color: $theme_footer_link_description_color;
}
.allure_footer_content_block .contact_info li span,
.allure_footer_content_block .contact_info li a {
	color: $theme_footer_link_description_color !important;
}
.allure_footer_content_block .contact_info li a:hover {
	color: $theme_footer_link_color_hover !important;
}
.allure_footer_content_inner ul > li > a:hover,
.allure_footer_content_inner ul > li > a:active,
.allure_footer_content_inner ul > li > a:focus,
.allure_footer_content_block .social_connect ul > li > a:hover i,
.allure_footer_bottom_block .social_connect ul > li > a:hover i {
	color: $theme_footer_link_color_hover;
}
.allure_footer_content_inner ul > li:first-child,
.allure_footer_bottom_block_inner h5 {
	color: $theme_footer_title_color;
}
.allure_footer_content_block .contact_info li i {
	color: $allure_theme_primary_color;
}

/* Core footer + Advanced footer */
div.layout_core_menu_footer,
div.layout_sitemenu_menu_footer {
	background: $theme_bottom_footer_background;
	color: $theme_bottom_footer_text_color;
}
.layout_core_menu_footer a.menu_core_footer,
.layout_sitemenu_menu_footer a.menu_core_footer {
	color: $theme_bottom_footer_link_color;
}
.layout_core_menu_footer a.menu_core_footer:hover,
.layout_sitemenu_menu_footer a.menu_core_footer:hover {
	color: $theme_bottom_footer_link_color_hover;
}

/* Sign up button */
.layout_allure_images .spec_btnsblock a {
	color: $theme_button_background_color;
}
.layout_allure_images .spec_btnsblock a + a{
	background-color: $theme_button_background_color;
	color: $theme_button_font_color;
}

/* Highlights block */
.allure_middle_content_item:hover .allure_content_icon span {
	border-color: $allure_theme_primary_color;
}
.allure_middle_content_item:hover .allure_content_icon span i,
.allure_middle_content_item:hover .allure_content_info h3 a {
	color: $allure_theme_primary_color;
}
.allure_content_info h3 {
	color: $theme_headline_color;
}
.allure_content_icon span {
	border: 1px solid $theme_headline_color;
}
.allure_content_icon span i {
	color: $theme_headline_color;
}
.allure_middle_image_block a.seao_smoothbox i {
	color: $allure_theme_primary_color;
}

/* CTA block (This widget might need new settings for colors)*/
.allure_static_buttons a {
	color: $theme_font_color;
	border: 2px solid $allure_theme_primary_color;
}
.allure_static_buttons a:link,
.allure_static_buttons a:visited {
	color: $theme_font_color;
}
.allure_static_buttons a:hover {
	background-color: $allure_theme_primary_color;
	color: #fff;
	border-radius: 0px 25px 0px 25px;
}

/* Text Banner (This widget might need new settings for colors)*/
.allure_text_banner_container_fluid {
    background-color: $allure_theme_primary_color;
}
.allure_text_banner_content_wrapper button,
.allure_text_banner_content_wrapper button:hover,
.allure_text_banner_content_wrapper button:active {
    background-color: $allure_landingpage_achievement_button_background;
	color: $allure_landingpage_achievement_button_color;
}

/* Counter Stat block */
.allure_counter_container {
	background-color: $allure_theme_primary_color;
}

/* App Promotion block (This widget might need new settings for colors) */
.demo_app_container {
	background-color: $allure_theme_primary_color;
}
.app_download_links .app_links_item {
	color: $allure_theme_primary_color;
}

/* privacy field dropdown */
div.field-privacy-selector,
div.field-privacy-selector ul {
	background-color: $theme_pulldown_background_color;
	color:$theme_font_color;
	text-shadow:none;
}
div.field-privacy-selector {
	margin-left: 0;
}

/* SE Cover photo pulldown */
html ul.profile_options_pulldown,
html .coverphoto_navigation ul {
	background-color: $theme_pulldown_background_color;
}
html ul.profile_options_pulldown:before,
html .coverphoto_navigation ul:before {
	border-bottom-color: $theme_pulldown_background_color;
}
html ul.profile_options_pulldown > li,
html .coverphoto_navigation ul > li {
	border-bottom-color: $theme_border_medium_color;
}
html #global_page_user-profile-index .layout_top + .layout_main {
	padding:0;
}

/* Homepage background video plugin */
.layout_sitehomepagevideo_videos {
	width: 100% !important;
	max-width: 100% !important;
}
/* Core chat plugin css */
.chat_users_wrapper, .chat_users > li, .chat_main {
	border: 1px solid $theme_border_color;
}
 .chat_users > li {
	 background-color: $theme_foreground_background_color;
}
.chat_users_wrapper, .chat_main {
	background-color: $theme_body_background_color;
}

/* Override for user module */
#global_page_user-edit-profile .global_form,
#global_page_user-edit-profile .global_form > div > div,
#global_page_user-edit-profile .global_form > div {
  overflow: hidden;
}

/* Invite form */
#invite_form #friendship {
	margin-left: 0 !important;
}

/* Sitevideo plugin override */
#createChannel-wrapper.form-wrapper, #channel-wrapper.form-wrapper {
	float: none;
}

/* Labels display for every plugin */
.global_form #search-label,
.global_form #submit-label,
.global_form #channelsubmit-label {display: none;}

/* Core popup override */
#user_form_login,
#signup_account_form {margin-top:0;}

/* Core Browse Navigation UI issues fixes */
[id*='global_page_album-'] #global_content > .headline,
[id*='global_page_blog-'] #global_content > .headline,
[id*='global_page_poll-'] #global_content > .headline,
[id*='global_page_video-'] #global_content > .headline,
[id*='global_page_music-'] #global_content > .headline,
[id*='global_page_user-'] #global_content > .headline,
[id*='global_page_classified-'] #global_content > .headline {padding: 15px; border-radius: 2px;}
[id*='global_page_album-'] .headline + .layout_middle {background-color: $theme_foreground_background_color; padding: 15px; margin-top: 15px;}

/* Core events start and end date calendar UI issues fixes */
#event_create_form .calendar_output_span {vertical-align: top;}
div.event_calendar_container button.event_calendar {background-repeat: no-repeat; padding: 0;}

/* Media Queries for RESPONSIVE DESIGN */
@include "customization.css";
@include "media-queries.css";

@media (min-width: 768px) {
	.allure_fullsite_search input[type="text"],
	.allure_fullsite_search .layout_siteadvsearch_search_box #global_search_form input[type="text"] {
		border-bottom-color: $allure_header_searchbox_border_color;
		color: $allure_header_searchbox_text_color;
	}
	.allure_fullsite_search button i:before,
	.allure_fullsite_search .layout_siteadvsearch_search_box #global_search_form button:before {
		color: $allure_header_searchbox_border_color;
	}
	html #core_menu_mini_menu div.seaocore_pulldown_wrapper {
	top: 55px;
}
}


/*newsletter left align*/
@media(max-width:991px)
{
	.allure_footer_bottom_block_inner .layout_sitenewsletter_newsletter_subscribe > .sitenewsletter_subscribe
	{

text-align:left!important;
	}
}