sitepwa_body_body_background_color:#000;
sitepwa_header_main_menu_background_color:#dd1f26;
sitepwa_top_header_background_color:#dd1f26;
sitepwa_topbar_menu_heading_background_color:#1e1e1e;
sitepwa_user_link_color:#fff;
sitepwa_mainmenu_border_color_light:#f2f0f0;
sitepwa_mainmenu_border_color_dark:#ffffff;
sitepwa_minimenu_link_color_hover:#000;
sitepwa_header_main_menu_link_color: #fff;
sitepwa_header_main_menu_link_color_on_hover:#dd1f26;
sitepwa_header_mini_menu_items_color:#fff;
sitepwa_header_mini_menu_items_color_on_hover:#ffffff;
sitepwa_theme_menu_tip_color:#dd1f26;
sitepwa_body_font_color:#b2b2b2;
sitepwa_body_font_color_light:#888;
sitepwa_body_link_color:#fff;
sitepwa_body_link_color_on_hover:#dd1f26;
sitepwa_body_header_color:#dedbdb;
sitepwa_body_border_color:#2d2d2d;
sitepwa_body_border_medium_color:#282828;
sitepwa_body_border_dark_color:#242424;
/*theme_title_border_color:#1bc1d6;*/
/*theme_popup_border_color:#1bc1d6;*/
sitepwa_body_content_background_color:#151515;
sitepwa_body_input_background_color:#1e1e1e;
sitepwa_body_input_font_color:#999;
sitepwa_body_input_border_color:#272727;
sitepwa_body_button_background_color:#dd1f26;
sitepwa_body_button_background_color_on_hover:#c61b22;
sitepwa_body_button_background_color_on_active:#c61b22;
sitepwa_body_button_font_color:#ffffff;
sitepwa_body_button_border_color:#dd1f26;
sitepwa_body_form_label_font_color:#b2b2b2;
sitepwa_body_tabs_font_color:#cccccc;
sitepwa_body_tabs_font_color_on_hover:#dd1f26;
sitepwa_body_tabs_font_color_on_active:#dd1f26;
/*theme_buttontabs_border_color:#DFE5E8;*/
/*theme_buttontabs_border_color_hover:#B6C6C9;*/
/*theme_buttontabs_border_color_active:#B6C6C9;*/
/*theme_tabs_background_color:#f4f6f7;*/
sitepwa_body_border_color:#2d2d2d;
sitepwa_body_tabs_border_color_on_hover:#dd1f26;
sitepwa_body_tabs_font_color:#cccccc;
sitepwa_body_tabs_font_color_on_hover:#dd1f26;
sitepwa_body_tabs_font_color_on_active:#dd1f26;
/*theme_tabs_background_color_active:#fff;*/
/*theme_tabs_background_color_hover:#fff;*/
sitepwa_body_list_background_color:#2c2c2c;
sitepwa_body_list_background_color_alt:#272727;
sitepwa_body_list_background_color_on_hover:#232323;
sitepwa_body_tag_background_color:#000;

sitepwa_body_pulldown_background_color:#2c2c2c;
sitepwa_body_pulldown_background_color_on_hover:#272727;
sitepwa_body_pulldown_background_color_on_active:#232323;
sitepwa_theme_primary_color:#dd1f26;
sitepwa_body_pulldown_border_color:#424242;
sitepwa_body_pulldown_background_color:#2c2c2c;
sitepwa_body_pulldown_background_color_on_hover:#272727;
sitepwa_body_pulldown_background_color_on_active:#232323;

sitepwa_theme_signin_color:#dd1f26;
sitepwa_theme_signin_color_hover:#dd1f26;

sitepwa_footer_footer_background_color:#303030;
sitepwa_footer_bottom_footer_link_color:#808080;
sitepwa_footer_bottom_footer_link_color_on_hover:#dd1f26;
sitepwa_footer_footer_heading_color:#e5e5e5;
sitepwa_footer_bottom_footer_background_color: #111;
sitepwa_footer_bottom_footer_text_color: #444;
sitepwa_footer_bottom_footer_link_color: #808080;
sitepwa_footer_bottom_footer_link_color_on_hover: #dd1f26;


