<a href="https://www.intechnique.net" target="_blank">
    <img src="<?php echo $this->url; ?>" class="socialoi-logo" />
</a>

<style type="text/css">
 img.socialoi-logo {
    width: 16%;
    margin-left: 80px;
    margin-top: -4%;
    max-width: 100%;
    padding-bottom: 15px;
 }
</style>