/* Header Constants */
allure_header_header_background_color: #1aa3b3;
allure_header_logo_font_color: #1aa3b3;
allure_header_mini_menu_items_color: #eeeeee;
allure_header_mini_menu_items_color_on_hover: #ffffff;
allure_header_minimenu_items_background_color: #1aa3b3;
allure_header_minimenu_items_background_color_on_hover: #ffc712;
allure_header_header_searchbox_text_color: #ffffff;
allure_header_header_searchbox_border_color: #d9d8d8;
allure_header_main_menu_background_color: #6E6E6E;
allure_header_main_menu_link_color: #e5e5e5;
allure_header_main_menu_link_color_on_hover: #ffffff;
allure_header_theme_main_menu_links_color_on_hover : #ffc712;

/* Footer Constants */
allure_footer_footer_background_color: #303030;
allure_footer_footer_link_and_description_color: #808080;
allure_footer_footer_link_color_on_hover: #ffc712;
allure_footer_footer_heading_color: #ffffff;
allure_footer_bottom_footer_background_color: #111;
allure_footer_bottom_footer_text_color: #1aa3b3;
allure_footer_bottom_footer_link_color: #808080;
allure_footer_bottom_footer_link_color_on_hover: #ffc712;

/* Body Constants */
allure_body_theme_color: #1aa3b3;
allure_body_body_background_color: #efefef;
allure_body_content_background_color: #ffffff;
allure_body_font_color: #1aa3b3;
allure_body_font_color_light: #1aa3b3;
allure_body_header_color: #222;
allure_body_link_color: #1aa3b3;
allure_body_link_color_on_hover: #ffc712;
allure_body_form_label_font_color: #1aa3b3;
allure_body_input_background_color: #ffffff;
allure_body_input_font_color: #999;
allure_body_input_border_color: #dfdfdf;
allure_body_button_background_color: #1aa3b3;
allure_body_button_background_color_on_hover: #ffc712;
allure_body_button_font_color: #ffffff;
allure_body_button_font_color_on_hover: #ffffff;
allure_body_button_border_color: #1aa3b3;
allure_body_button_border_color_on_hover: #ffc712;
allure_body_comments_background_color: #f6f6f6;
allure_body_border_color: #f2f0f0;
allure_body_border_medium_color: #e4e0e0;
allure_body_border_dark_color: #d9d8d8;
allure_body_tag_background_color: #fff;
allure_body_pulldown_background_color: #fff;
allure_body_pulldown_background_color_on_hover: #e5e5e5;
allure_body_pulldown_background_color_on_active: #cccccc;
allure_body_pulldown_border_color: #e4e4e4;
allure_body_list_background_color: #fff;
allure_body_list_background_color_alt: #f9f9f9;
allure_body_list_background_color_on_hover: #f6f6f6;
allure_body_tabs_font_color: #1aa3b3;
allure_body_tabs_font_color_on_hover : #ffc712;
allure_body_tabs_border_color_on_hover: #ffc712;
allure_body_tabs_font_color_on_active: #ffc712;
allure_body_landingpage_purchase_now_button_background_color: #101622;
allure_body_landingpage_purchase_now_button_font_color : #fff;
